[2017-04-09 23:14] sliceofcode opened #1 "ci', ci" missing"
`ci'`, `ci"`, etc. don't do anything. Are they missing?

[2017-04-09 23:54] math2001 opened #2 "Escape key: prevented from hiding panels"
Hello!

The escape key is prevented from hiding panels, even when I'm in command mode...

Thanks anyway for this package! 👍

[2017-04-10 06:13] guillermooo opened #3 "implement f"

[2017-04-10 06:13] guillermooo opened #4 "implement F"

[2017-04-10 06:14] guillermooo opened #5 "implement t"

[2017-04-10 06:14] guillermooo opened #6 "implement T"

[2017-04-10 06:14] guillermooo opened #7 "implement ,"

[2017-04-10 06:14] guillermooo opened #8 "implement ;"

[2017-04-10 06:15] #3 closed

[2017-04-10 06:16] #4 closed

[2017-04-10 06:16] #5 closed

[2017-04-10 06:16] #6 closed

[2017-04-10 15:56] guillermooo commented on #2
As a temporary solution, you can use the key to toggle the console to dismiss panels.

What about the console; should it be dismissed by <key>Esc</key> too?

[2017-04-10 16:03] guillermooo opened #9 "Document: Setting for instructing yank operations to propagate to system clipboard"
Name: `use_system_clipboard_always`. In *Six.sublime-settings*.

[2017-04-10 19:12] guillermooo opened #10 "implement aw"

[2017-04-10 19:14] guillermooo opened #11 "implement /"

[2017-04-10 20:26] ev0rtex opened #12 "Modeline support?"
Is modeline support planned for implementation in Six? I really like being able to specify my syntax in a modeline on a per-file basis like I could before with Vintageous. If development of this feature is being worked on I'd also like to say that it would be awesome if it would pick out the syntax from a standard `# vi set ft=python :` type of modeline.

I have typically had comments such as this

[2017-04-11 00:35] math2001 commented on #2
Yep. when in command mode, the esc key should do what it would do if this package was disabled (IMO).

[2017-04-11 05:49] guillermooo commented on #12
Likely, but not a priority right now.

[2017-04-11 05:51] guillermooo commented on #9
Name: `use_system_clipboard`.

[2017-04-11 10:39] PatTheMav opened #13 "Implement r"
Simple command, but I've found I'm using it more often that I thought.. 😬

[2017-04-11 15:30] ev0rtex opened #14 "Implement indenting: <<,>>,<,>"
This one's literally been driving me crazy since switching to Six. I use line and block shifting constantly for indenting lines and selected blocks of text.

[2017-04-11 15:35] ev0rtex commented on #12
Okay, thanks for responding. I wish I could help ;)

[2017-04-11 15:46] guillermooo commented on #14
Me too. It's coming soon, I hope.

[2017-04-11 16:01] guillermooo commented on #12
Probably you'll be able to. I think that kind of functionality would be best implemented as a plugin. In this case, you would simply need to (1) be notified on buffer load and (2) have the ability to mutate settings. Proper support for handling settings from Six isn't coming soon, but a basic api for plugins like modelines may be easier to release faster.

[2017-04-11 16:07] guillermooo commented on #2
BTW, this is fixed in the latest pre-release.

[2017-04-11 16:16] guillermooo opened #15 "implement gd"

[2017-04-11 16:16] guillermooo opened #16 "implement gD"

[2017-04-11 16:16] guillermooo opened #17 "implement gq"

[2017-04-11 16:17] guillermooo opened #18 "implement *"

[2017-04-11 16:20] guillermooo opened #19 "implement o for visual mode"

[2017-04-11 16:20] guillermooo opened #20 "implement O for visual mode"

[2017-04-11 16:34] ev0rtex commented on #12
That would be awesome! When you get a basic plugin API in place I'll work on building this.

I imagine that plugins like this would just be contributed as separate packages that could potentially be installed via Package Control, right?

[2017-04-11 17:08] guillermooo commented on #12
Yes, but there would probably be a *Six_Plugin_Core* package that would be a dependency. Modelines would be included in it.

[2017-04-12 05:58] #7 closed

[2017-04-12 05:58] #8 closed

[2017-04-12 05:58] #2 closed

[2017-04-12 16:39] rhelsing opened #21 "implement f support"
In normal mode, I should be able to press f , and the cursor should move to the next ,

[2017-04-12 17:06] rhelsing opened #22 "Implement Change/Delete Inside/Around Item"
When I type ci" inside quotes in normal mode, expected behavior is to delete all the contents inside the quotes and enter insert mode inside.

[2017-04-12 18:28] guillermooo commented on #1
https://github.com/guillermooo/Six/issues/22

[2017-04-12 20:43] guillermooo commented on #21
When `f` is expecting input, Six will accept any character. Nothing special should need to be done in order for `,` to be accepted as input. I've just double checked and it's working fine for me as far as I can tell. Maybe you have some custom key binding defined for `,`?

[2017-04-13 05:58] #18 closed

[2017-04-15 13:46] rhelsing commented on #21
@guillermooo hmm.. I only have two other key bindings and neither involve `f` or `,` :

I tried restarting, still no dice. My sublime build is 3126

[code]

[2017-04-15 13:47] rhelsing opened #23 "Implement :wq"
I would expect `:wq` to save and close the current tab.

[2017-04-15 20:30] rhelsing commented on #23
@guillermooo would love to help out.. would you consider making a quick write up (and post as wiki or other) explaining the organization of the codebase and prerequisites that need to be understood first?

[2017-04-19 08:25] guillermooo commented on #11
First implementation will use the status bar as an input box. No editing functionality other than adding chars. Later, the input control will be implemented as a ST input panel.

[2017-04-19 21:11] awan1 opened #24 "Aesthetic: enable block cursor for command mode vs line cursor for insert mode"
An aesthetic touch that I really like for my other vim emulators is that in command mode the cursor is a block, and in insert mode it's a line. Hope we can get this support soon (unless it exists and I'm just missing the config)!

[2017-04-20 05:12] guillermooo commented on #24
I don't think it's possible to do that at the moment. The only options to change the caret's appearance that I know are:

[code]
Personally, I increase `caret_extra_width` to 2, but that's all.

I'll close this issue now, but please reopen if you have more info.

[2017-04-20 05:16] guillermooo commented on #21
Here's what I do:

1. Create new buffer with contents: `aaa bbb, ccc`.
2. Place caret at 0 position (BOF).
3. Type <kbd>f</kbd>, <kbd>,</kbd> in normal mode.

The caret advances to position 7 as expected.

Tests also check this and are passing. Maybe we're talking about different things?

Also, could you provide platform details?

[2017-04-20 05:17] guillermooo commented on #23
Six isn't currently open source. It's hosted here only so that Package Control can find it. In the future it may be possible that parts of Six can be worked on externally, but I'm not sure if/when that will happen.

[2017-04-21 00:08] awan1 commented on #24
Hm, this happened by default in Vintageous which is why I asked about it. Does that help at all or sound like something done deliberately?

[2017-04-21 18:08] guillermooo commented on #24
Now that you mention it, I think there used to exist a block caret option somewhere. I'll take a closer look.

[2017-04-25 05:53] guillermooo commented on #11
Already implemented input box using ST input panel.

[2017-04-25 05:55] guillermooo opened #25 "implement h"

[2017-04-25 05:55] guillermooo opened #26 "implement l"

[2017-04-25 05:56] guillermooo opened #27 "implement 0"

[2017-04-25 05:56] guillermooo opened #28 "implement ^"

[2017-04-25 05:56] guillermooo opened #29 "implement $"

[2017-04-25 05:56] guillermooo opened #30 "implement g0"

[2017-04-25 05:56] guillermooo opened #31 "implement g^"

[2017-04-25 05:56] guillermooo opened #32 "implement g$"

[2017-04-25 05:56] guillermooo opened #33 "implement gm"

[2017-04-25 05:56] guillermooo opened #34 "implement |"

[2017-04-25 05:57] guillermooo opened #35 "implement f"

[2017-04-25 05:57] guillermooo opened #36 "implement F"

[2017-04-25 05:57] guillermooo opened #37 "implement t"

[2017-04-25 05:57] guillermooo opened #38 "implement T"

[2017-04-25 05:57] guillermooo opened #39 "implement ,"

[2017-04-25 05:57] guillermooo opened #40 "implement ;"

[2017-04-25 05:58] guillermooo opened #41 "implement k"

[2017-04-25 05:58] guillermooo opened #42 "implement j"

[2017-04-25 05:59] guillermooo opened #43 "implement +"

[2017-04-25 05:59] guillermooo opened #44 "implement -"

[2017-04-25 05:59] guillermooo opened #45 "implement _"

[2017-04-25 05:59] guillermooo opened #46 "implement gg"

[2017-04-25 05:59] guillermooo opened #47 "implement G"

[2017-04-25 05:59] guillermooo opened #48 "implement N%"

[2017-04-25 05:59] guillermooo opened #49 "implement gj"

[2017-04-25 06:00] guillermooo opened #50 "implement gk"

[2017-04-25 06:02] guillermooo opened #51 "implement w"

[2017-04-25 06:02] guillermooo opened #52 "implement W"

[2017-04-25 06:02] guillermooo opened #53 "implement e"

[2017-04-25 06:02] guillermooo opened #54 "implement E"

[2017-04-25 06:03] guillermooo opened #55 "implement b"

[2017-04-25 06:03] guillermooo opened #56 "implement B"

[2017-04-25 06:03] guillermooo opened #57 "implement ge"

[2017-04-25 06:03] guillermooo opened #58 "implement gE"

[2017-04-25 06:03] guillermooo opened #59 "implement )"

[2017-04-25 06:03] guillermooo opened #60 "implement ("

[2017-04-25 06:03] guillermooo opened #61 "implement }"

[2017-04-25 06:04] guillermooo opened #62 "implement {"

[2017-04-25 06:04] guillermooo opened #63 "implement ]]"

[2017-04-25 06:04] guillermooo opened #64 "implement [["

[2017-04-25 06:04] guillermooo opened #65 "implement ]["

[2017-04-25 06:04] guillermooo opened #66 "implement []"

[2017-04-25 06:05] guillermooo opened #67 "implement [("

[2017-04-25 06:05] guillermooo opened #68 "implement [{"

[2017-04-25 06:05] guillermooo opened #69 "implement [m"

[2017-04-25 06:05] guillermooo opened #70 "implement [M"

[2017-04-25 06:05] guillermooo opened #71 "implement ])"

[2017-04-25 06:05] guillermooo opened #72 "implement ]}"

[2017-04-25 06:06] guillermooo opened #73 "implement ]m"

[2017-04-25 06:06] guillermooo opened #74 "implement ]M"

[2017-04-25 06:06] guillermooo opened #75 "implement [#"

[2017-04-25 06:06] guillermooo opened #76 "implement ]#"

[2017-04-25 06:06] guillermooo opened #77 "implement [star"

[2017-04-25 06:06] guillermooo opened #78 "implement ]star"

[2017-04-25 06:10] guillermooo opened #79 "implement jumplist"
Ctrl+O, Ctrl+I and others.

[2017-04-25 06:10] #25 closed

[2017-04-25 06:10] #26 closed

[2017-04-25 06:10] #27 closed

[2017-04-25 06:10] #28 closed

[2017-04-25 06:10] #29 closed

[2017-04-25 06:11] #35 closed

[2017-04-25 06:11] #36 closed

[2017-04-25 06:11] #37 closed

[2017-04-25 06:11] #38 closed

[2017-04-25 06:11] #39 closed

[2017-04-25 06:11] #40 closed

[2017-04-25 06:11] #41 closed

[2017-04-25 06:11] #42 closed

[2017-04-25 06:11] #43 closed

[2017-04-25 06:11] #46 closed

[2017-04-25 06:11] #47 closed

[2017-04-25 06:11] #51 closed

[2017-04-25 06:11] #53 closed

[2017-04-25 06:11] #54 closed

[2017-04-25 06:11] #55 closed

[2017-04-27 05:48] guillermooo opened #80 "implement offsets for /"

[2017-04-27 05:48] guillermooo opened #81 "implement double search for /"
//;

[2017-04-27 05:49] guillermooo opened #82 "implement line ranges for /"
<%l

[2017-04-27 05:49] guillermooo opened #83 "implement options related to /"

[2017-04-27 05:50] #11 closed

[2017-04-27 05:51] guillermooo commented on #21
@rhelsing I'm closing this issue, but please reopen if the problem persists.

[2017-04-27 05:51] #21 closed

[2017-04-27 05:52] guillermooo opened #84 "polish indentation operators (>, etc)"

[2017-04-27 05:56] ev0rtex commented on #14
@guillermooo I just saw that you closed this. I just tested and I had one additional question regarding it. Can you add support for a count modifier? I will often do e.g. '2>>' to indent multiple levels. Should this be added as a separate issue?

[2017-04-27 06:58] guillermooo opened #85 "implement history for /"

[2017-04-27 16:17] guillermooo commented on #14
Here it's fine. I plan to polish all existing commands after Wave 1 is done during a Code Quality Cycle, but this oversight is too big. I'll try to fix it soon.

Feel free to report more issues as new issues too (which I will be more likely to see). If I close a feature it's normally because it's reached a functional level, not because it's completely finished. I hope to implement features to comp

[2017-04-27 16:46] ev0rtex opened #86 "implement 'x' in visual mode"
I noticed that x works in normal mode but not in visual mode. When I select lines in visual mode I can use d to "cut" the lines but if I want to delete the lines without overwriting the register contents I can't.

[2017-04-27 16:49] ev0rtex opened #87 "implement 'ctrl-r' for redo"
I can easily undo using 'u' but cannot seem to redo using ^r

[2017-04-27 17:36] #14 closed

[2017-04-27 17:38] guillermooo commented on #86
This is definitely a bug, but note that you can use `"_x` to bypass the `"` register. Your method might be faster to type for the `x` case, though.

[2017-04-27 17:41] guillermooo commented on #87
I have to think what to do about CTRL- commands. Whether to let users enable all of them with a singlesetting or via several settings. This probably an issue primarily on Windows, where Ctrl+C and friends are very common shortcuts people tend to take for granted.

Also, Ctrl+R clobbers ST functionality, so it should be replaced somehow too within Six, I guess. Probably for Wave 2, although I'm mis

[2017-04-27 19:46] ev0rtex commented on #87
Just a thought..you could do something like:
[code]
to enable all of them and then alternatively allow a list of specific overrides if desired:
[code]

[2017-04-28 18:39] am6422 opened #88 "Six and Fold"
Using Six and Sublime Text 3 under Linux 9Ubuntu 16.04).
Using fold command (shift+ctrl+[)
Any line up commands from the fold position (up or k) re-open the fold just created.
Do not happens with down commands (down or j) for the fold just created but happens for others folds created before (up or down commands)

[2017-04-29 10:00] MSch commented on #24
I think the block cursor plugin has special support for Vintageous: https://github.com/karlhorky/BlockCursorEverywhere/blob/master/SublimeBlockCursor.py#L18

Perhaps this feature can be built into Sublime Six directly?

[2017-04-29 10:02] MSch opened #89 "Backwards search with N"
I just did a clean reinstall of Sublime Text, this time switching from Vintageous to Six - trying to evaluate it.

It appears that while forward search with `n` works, backwards search with `Shift-n` doesn't.

[2017-04-29 10:04] MSch commented on #83
I assume this is the `vintageous_hlsearch` feature?

[2017-04-29 11:10] guillermooo commented on #83
I can't remember the name in Vintageous. It's the forward buffer search that highlights all occurrences if there is a match. Highlighted regions are cleared when pressing Esc (and no other Esc operation is pending). This is the equivalent of `:nohlsearch` in Vim, but I think most people will want to have this behavior by default. Later on, I may add an option to control this.

[2017-04-29 11:11] guillermooo commented on #83
I don't think I was answering your question...

Yes, the issue is partly referring to that option you mention.

[2017-04-29 11:13] guillermooo commented on #89
That's correct. Backward search has to be implemented from scratch, as ST does not provide it via the API. I think this command is planned for Wave 2, which will start after a Code Quality Cycle which is starting soon.

I will try to fix some issues Vintageous has with this.

[2017-04-30 16:13] #10 closed

[2017-04-30 16:13] #15 closed

[2017-04-30 16:13] #16 closed

[2017-04-30 16:13] #17 closed

[2017-04-30 16:13] #19 closed

[2017-04-30 16:13] #20 closed

[2017-04-30 16:13] #86 closed

[2017-04-30 18:07] jaytaylor opened #90 "v0.1.30 breakage; plugin not working"
Six is not working with ST3 + latest version:

[code]

[2017-04-30 18:12] am6422 commented on #90
Insert does replace avec using i key...

[2017-04-30 18:17] guillermooo commented on #90
All tests are passing here. Have you tried restarting ST? Could you please provide platform details?

[2017-04-30 18:17] jaytaylor commented on #90
Not sure what is meant by that.  Six was working fine, then I restarted ST3, and now it's not working anymore after auto updating to 0.1.30.

[2017-04-30 18:22] guillermooo commented on #90
I'm primarily using Win10 and I have just installed 0.1.30 via Package Control and everything seems to be working fine. The test suite is also passing. Six is the only package I have installed, though.

[2017-04-30 18:22] jaytaylor commented on #90
Also, to be clear, changing between command mode, insert mode, and visual mode works fine.

But actually trying to enter a command, for example:

[code]

[2017-04-30 18:23] jaytaylor commented on #90
Also, to be clear, changing between command mode, insert mode, and visual mode works fine.

But actually trying to enter a command, for example:

[code]

Doesn't work, the command pane never appears.

[2017-04-30 18:23] guillermooo commented on #90
Do you see any Six log lines in the ST console?

[2017-04-30 18:24] jaytaylor commented on #90
I even tried removing all the "old" vintage* packages, still getting that `esc` error on boot and things aren't working.

Should I just go back to using Vintageous? *g*

[2017-04-30 18:24] guillermooo commented on #90
BTW, there is not command line pane yet. Only a handful of command line commands work, and they show up in the status bar.

[2017-04-30 18:25] jaytaylor commented on #90
The only six-related console messages I see are the "unknown key esc" which I provided when first filing this issue.

[2017-04-30 18:26] jaytaylor commented on #90
Okay, well in any case the commands are definitely not working..

[2017-04-30 18:28] guillermooo commented on #90
If there is no log line like this in the console:

[code]

then it's less likely that the error comes from Six.

The only command-line commands that work now are `:w` and `:q` if I remember correctly.

[2017-04-30 18:30] guillermooo commented on #90
Ah, I now see the error you refer to, but it's not preventing Six from working for me. I'll take a closer look.

[2017-04-30 18:34] guillermooo commented on #90
There was indeed a key with the wrong name in the Six key map. I'll push a fix for that momentarily.

[2017-04-30 18:43] guillermooo commented on #90
@jaytaylor The latest version should fix the error log issue. Also, commands like the one you indicated are expected to not work at the moment, so I'm closing this issue now, but feel free to reopen if other issues persist.

[2017-04-30 18:43] #90 closed

[2017-04-30 18:55] jaytaylor commented on #90
Alright, thanks for the quick followup and fix @guillermooo !

Cheers,
Jay

[2017-05-01 20:08] rhelsing opened #91 "Fully Implement . (repeat command)"
I should be able to visually select a block of text, run Shift+> to indent once, but then I should be able to hit period (.) to repeat that command. There seems to be an issue with multi-step commands because this doesn't work on macros either.. only repeats a portion of the macro. This, along with :wq are the only huge things missing from my workflow currently..

Very impressed with how much prog

[2017-05-01 20:27] guillermooo commented on #91
Repeating visual commands seems to be a tad more involved than I thought. Either I have not yet understood fully how Vim does it, or it's rather complicated. In short: repeating visual commands (and therefore using macros involving those commands) is missing intentionally.

Books on Vim seem to hint at the fact that advanced users of Vim should prefer normal mode over other modes (but I know old h

[2017-05-02 21:58] guillermooo commented on #91
Actually, I found the documentation and it seems pretty simple. I don´t know why I though it was more complex.

[2017-05-03 12:35] rhelsing commented on #91
@guillermooo that is great to hear! Thank you so much for the work you are doing!

[2017-05-03 13:44] rhelsing opened #92 "Apply visual commands to text selected with sublime cursor when in normal mode?"
When in normal mode and I drag the cursor over a block of text, I feel like I should be able to either hit d (or at least backspace) to remove that text. This is how it was in Vintageous, correct? What are your thoughts on this?

[2017-05-03 17:45] guillermooo commented on #92
I try to avoid using the mouse when using my text editor, so the only reason this isn't done yet is lack of personal interest. But it's definitely coming.

[2017-05-03 18:02] rhelsing commented on #92
Thats fair, I cheat sometimes 😭 I will wait patiently

[2017-05-04 04:03] ev0rtex opened #93 "Bug with 'x' in visual mode"
Okay, let me first preface this by saying I realized I was trying to differentiate between <kbd>x</kbd> and <kbd>d</kbd> in the issue I filed before to implement <kbd>x</kbd> in visual mode (#86) but I realized that I was wrong. In normal mode they are different but in visual mode they are actually the same and should indeed both _cut_ the selected text...it seems I just happen to prefer <kbd>x</k

[2017-05-04 13:41] Zorro666 opened #94 "Implement %"

[2017-05-04 13:42] Zorro666 opened #95 "Implement ^f ^b"

[2017-05-04 13:56] Zorro666 opened #96 "Implement J (shift+j)"

[2017-05-04 16:17] Zorro666 opened #97 "Implement line goto e.g :<line_number>"

[2017-05-04 19:58] davea1 opened #98 "Implement ctrl-d, ctrl-u"
Note: ctrl-d/u should not move the cursor position until hitting a boundary.

[2017-05-07 16:00] rhelsing opened #99 "'u' undoes too much"
I can make many changes and then press u and all of those changes get rolled back, not just the last one.. sorry if this is not very descriptive. Have you noticed this or do you need more detail?

[2017-05-07 18:12] rhelsing opened #100 "Visual selection with '=' should auto indent"
After making a visual selection, pressing '=' should auto format that text

[2017-05-08 20:06] guillermooo commented on #99
I think I know what you mean. I'm not sure whether ST lets plugin nest undo steps, which I think is required for solving this, but I'll look into it.

[2017-05-08 20:09] guillermooo commented on #100
This interacts with the `equalprg` setting and falls back to an internal formatting function when said setting is unset. I don't think the latter is available natively in ST.

[2017-05-08 20:16] guillermooo opened #101 "implement visualbell option"
Also Implement related options that allow users to disable the visual bell/beep completely.

[2017-05-09 13:06] rhelsing commented on #100
@guillermooo so is there a setting in sublime that I should enable for this to work?

[2017-05-09 14:25] rhelsing commented on #23
@guillermooo this seems to be almost working.. it works on an unchanged file when typing `:q`.. it also works on a modified buffer when typing `:wq`.. it currently doesn't close an unmodified buffer when pressing `:wq` - I generally use `:wq` to close out unmodified buffers out of habit and this works in vim.. thoughts?

[2017-05-09 15:59] guillermooo commented on #100
@rhelsing I meant that ST lacks a built-in command for indenting a block of text; at least I don´t know about it. Therefore, it is not possible to map `=` to a default command.

[2017-05-09 16:01] guillermooo commented on #23
Hm. I´ve just tried on Vim and it errors if I try to `:wq` a newly created, empy, buffer. It demands a file name.

[2017-05-09 16:04] rhelsing commented on #23
@guillermooo yes you are right, I mean on a pre-existing file that has contents in the buffer but has not been modified.

[code]

[2017-05-09 16:09] guillermooo commented on #23
OK, thanks, I´ll take a look!

[2017-05-09 17:07] guillermooo commented on #23
Here's what I do:

- I open ST
- Using the command palette, I open a file
- I go `:wq` and the file closes

This works using Win 10 Pro. I think this is the desired behavior for your use case?

[2017-05-09 17:11] rhelsing commented on #23
That is the desired behavior. I am on macOS Sierra. When I repeat those steps, the file does not close.

![q](https://cloud.githubusercontent.com/assets/392594/25863221/fb0de90a-34b8-11e7-9828-3bfe1f921628.gif)

[2017-05-10 05:47] guillermooo commented on #23
I've just checked this on macOS Sierra and it's working for me too. Could it be an interaction with some  other package? Is the ST console showing any logs from Six?

[2017-05-10 06:09] #97 closed

[2017-05-10 06:09] #93 closed

[2017-05-10 07:48] guillermooo opened #102 "Implement f and friends for visual line mode"
ST does not support moving the caret independently of whole line selection. But we can adjust the xpos invisibly.

(Discarded in Wave 1.)

[2017-05-10 07:48] guillermooo opened #103 "star motion should escape regexp metachars in pattern"
Or not really, since it's always going to be a word?

(Discarded in Wave 1.)

[2017-05-10 07:48] guillermooo opened #104 "star motion should take into account wrapsearch (or similar) option"
(Discarded in Wave 1.)

[2017-05-10 14:13] rhelsing commented on #23
@guillermooo It's working for me too now..

[2017-05-10 14:13] #23 closed

[2017-05-10 17:32] guillermooo opened #105 "`u` should have effect in a macro when the macro is played back"
I can't make this work. I need to do more research.

[2017-05-10 17:38] claygorman opened #106 "How to enter visual block mode"
Ctrl+v on mac doesnt work. Any suggestions?

[2017-05-10 20:04] guillermooo commented on #106
Not implemented yet.

[2017-05-10 20:04] claygorman commented on #106
Thanks!

[2017-05-10 20:05] guillermooo commented on #106
I´ve rename the issue. Let´s keep it open for reference.

[2017-05-10 20:05] claygorman commented on #106
Sure thank you for your attention!

[2017-05-10 20:53] guillermooo opened #107 "Evaluate usefulness of top-level functions individually."

[2017-05-11 06:05] #84 closed

[2017-05-14 06:21] UnityJake opened #108 "Searching seems to be case-sensitive by default i.e. /"
In vintageous I think it was case in-sensitive by default.
Is there an option to control it.
Would my .vimrc options control this?

[2017-05-14 08:31] UnityJake opened #109 "Implement 'r' command to replace character under the cursor"

[2017-05-15 18:59] guillermooo commented on #108
I need to add an option for that, but it will definitely be available in Six. No user config file is read at the moment, btw.

[2017-05-15 21:34] n00ge opened #110 "Issue with files wrongly being marked as changed"
Hey Guillermo, great work on Sublime Six.

Question for you. I have been seeing an issue with it since installation (been using it since you pushed the message to old vintageous users) where the file is wrongly marked as changed. It occurs when I save a file. I believe it's related to the user preference `"trim_trailing_white_space_on_save": true` being enabled. If I am in insert mode, save the fi

[2017-05-15 21:44] rhelsing commented on #110
I believe I have this issue too and what I was referring to earlier. I also have this setting enabled.

[2017-05-16 19:19] guillermooo commented on #110
Hey @n00ge, hope all's going well!

I think Vintageous used to have this issue too. I think Six needs to `unmark_groups_for_glueing` if no edits were made in insert mode.

@rhelsing I probably misunderstood your error report; sorry about that! At least now I know what the issue is.

[2017-05-16 19:21] guillermooo opened #111 "when mapping keys in normal mode, add vim_accept_any_input: false"
Also mention this is currently an unsupported method for mapping keys.

[2017-05-16 19:21] guillermooo opened #112 "gd uses scopes to find the previous function's start"
Document this.

[2017-05-16 19:22] guillermooo commented on #9
Document this.

[2017-05-16 19:23] guillermooo opened #113 "y operates only on first selection (no multiple selection support)"
Document this.

[2017-05-16 19:24] guillermooo opened #114 "Macros should be undone step by step."
Currently, a bunch of macro repeats may be lumped together into one edit step.

NOTE: ST seems to group edits based on time and plugins cannot control this.

[2017-05-16 19:25] guillermooo opened #115 "do not add extra <kbd>&lt;Esc&gt;</kbd> after command for repeating if unwarranted."
Internal issue.

[2017-05-16 19:25] guillermooo opened #116 "Implement `gv` for restoring visual line mode selections."

[2017-05-16 19:25] guillermooo opened #117 "More commands should fail in some situations: /, dl at EOL, etc."
Internal issue.

[2017-05-16 19:25] guillermooo opened #118 "Switching from visual line mode to visual mode when the caret started at EOL leaves the caret one line up too far."

[2017-05-20 11:32] UnityJake opened #119 "Y used to copy selection to the clipboard (on MacOS)"
Now I have to use CMD+c. I haven't tried on Windows.
It might be a setting that I don't know about.

[2017-05-23 16:10] guillermooo commented on #119
Set `use_system_clipboard` to `True` in *User/Six.sublime-settings*. Just create the file if it doesn't exist yet.

https://github.com/guillermooo/Six/issues/9

[2017-05-24 04:33] UnityJake commented on #9
Massive thanks - this is a great improvement. For me personally - this plus support for:
J
r
:<line>
Ctrl+f
Ctrl+b
%
zz

and I would find six complete for my VI usage

[2017-05-24 04:34] UnityJake opened #120 "Add support for zz"

[2017-05-27 14:30] guillermooo commented on #9
@UnityJake `:` should be working now, but only a handful of commands are available at the moment. The rest will probably be implemented during this iteration.

[2017-06-02 04:58] guillermooo opened #121 "implement ?"

[2017-06-02 16:09] #108 closed

[2017-06-02 16:09] #121 closed

[2017-06-02 16:10] #89 closed

[2017-06-04 05:58] #120 closed

[2017-06-04 06:02] #119 closed

[2017-06-04 06:03] #79 closed

[2017-06-04 06:07] guillermooo opened #122 "jumplist sometimes requires two presses of Ctrl+O to move to previous item"

[2017-06-08 17:09] #112 closed

[2017-06-08 17:09] #9 closed

[2017-06-08 17:19] #113 closed

[2017-06-10 06:51] #48 closed

[2017-06-10 09:46] #94 closed

[2017-06-10 09:57] #1 closed

[2017-06-11 08:10] guillermooo commented on #109
#13

[2017-06-11 08:10] #109 closed

[2017-06-11 14:01] #13 closed

[2017-06-11 16:04] rhelsing commented on #22
@guillermooo is this implemented now?

[2017-06-11 16:51] rhelsing opened #123 "Can't enter normal mode after release 0.1.49"
Esc no longer enters normal mode for me. Does it work for you?

---

**How to solve this issue**

This issue is due to Package Control not deleting a file. Read the whole thread below or simply perform these steps:

1. [Locate *Data/Installed Packages*](http://docs.sublimetext.info/en/latest/basic_concepts.html#the-data-directory) on your platform
2. Delete *Six.sublime-package* if it exists

If t

[2017-06-11 16:52] rhelsing commented on #123
@guillermooo disabled six and reenabled vintageous for the time being..

[2017-06-11 17:31] guillermooo commented on #123
Can you please do the following:

[code]

Then press Esc in insert mode in Six and see what gets logged?

[2017-06-11 17:32] guillermooo commented on #123
Confirmed as working on Windows, clean ST install.

[2017-06-11 17:33] guillermooo commented on #123
Nope, you are right. it's broken.

[2017-06-11 17:33] rhelsing commented on #123
[code]

[2017-06-11 17:34] guillermooo commented on #123
However, it's working in dev ok.

[2017-06-11 17:34] guillermooo commented on #123
Thanks for that, btw!

[2017-06-11 17:37] guillermooo commented on #123
@rhelsing Six switched to folder install (vs .sublime-package install) a few versions ago. I've just checked, and Package Control failed to remove the pre-existing Six.sublime-package file from *Data/Installed Packages*. Hopefully, deleting this file is all what you'll need to do. I've just done that in my test version and it worked (after restarting ST).

[2017-06-11 17:41] rhelsing commented on #123
@guillermooo That did the trick! Thanks! may want to make a note for others..

[2017-06-11 17:42] guillermooo commented on #123
Phew... Yeah, it's going to be a pain tomorrow, I guess. I'll make a release with an announcement to see if that reaches others. Thanks! Let's leave this issue open for a few days so others can check it.

[2017-06-13 11:11] AllanLRH opened #124 "Add a Six-tutorial to the documentation"
While there's lots of guides for VIM out the on the interwebs, it seems silly to learn to use VIM in order to use ST… and that makes it hard to get started with Six, when you (like me) doesn't know VIM :)

Maybe a Youtube-tutorial would be beneficial if you'd like to attract more users/customers?

Six surely have a subset of VIM functionality, so I guess that there's still a lot of things which wi

[2017-06-13 14:37] rhelsing opened #125 "change/delete inside/around enhancements list"
* Implement around. Currently inside is supported
* Multiline
[code]

* Implement t (tag) modifier - (cit, cat, dit, dat)
[code]

[2017-06-13 17:17] guillermooo commented on #124
Great idea, but at the moment it would require too much time that I cannot spare. Do you have any suggestions for a useful first topic?

[2017-06-13 17:37] AllanLRH commented on #124
Hmmm… suppose it's a screen-cast video with voice-over and the pressed modifier keys shown on screen, which I guess is faster to produce than an written tutorial:

### A "Getting Started", along the lines of:

* Look, I'm using Six commands for _navigating_ this piece of code. And provided it's relevant: but for this specific movement/situation, it's easier to use ST's build in navigation command,

[2017-06-15 06:26] #58 closed

[2017-06-15 06:26] #57 closed

[2017-06-15 06:27] #34 closed

[2017-06-15 06:37] #123 closed

[2017-06-15 06:39] guillermooo opened #126 "C-I should not be repeatable."
<kbd>C-I</kbd> should not be repeatable.

[2017-06-15 06:40] guillermooo opened #127 "Jumplist: Jumping to a different view should reuse view in existing group if available."

[2017-06-15 06:40] guillermooo opened #128 "add count support for C-i and C-o"
add count support for <kbd>C-i</kbd> and <kbd>C-o</kbd>.

[2017-06-15 06:40] guillermooo opened #129 "test / thoughly"
test <kbd>/</kbd> thoughly

[2017-06-15 06:41] guillermooo opened #130 "test ? throughly"
test <kbd>?</kbd> thoughly

[2017-06-15 06:41] guillermooo opened #131 "implement z. for all modes"
implement <kbd>z.</kbd> for all modes

[2017-06-15 06:41] guillermooo opened #132 "implement `z<CR>` for all modes"
implement `z<CR>` for all modes

[2017-06-15 06:41] guillermooo opened #133 "implement `zz` for all modes"
implement `zz` for all modes

[2017-06-15 06:42] guillermooo opened #134 "implement `zt` for all modes"
implement `zt` for all modes

[2017-06-15 06:42] guillermooo opened #135 "`2i"` should include delimiters in selection."
`2i"` should include delimiters in selection.

[2017-06-15 06:42] guillermooo opened #136 "document: Search commands use ST regular expressions' engine."
Document this.

[2017-06-15 20:09] #85 closed

[2017-06-17 07:01] guillermooo commented on #110
Repro steps:

1. Enter insert mode.
2. On a non-empty line, add trailing ws.
3. Save via Ctrl+Save in insert mode
4. trim_trailing_white_space kicks in
5. File is now saved
6. Exit insert mode

The dirty indicator is shown in the tab.

[2017-06-17 07:32] guillermooo commented on #110
This is a summary of my findings so far:

The issue arises when the user saves in insert mode and, as a result of that operation, `trim_trailing_white_space` is triggered.

After the above steps, when exiting insert mode, Six executes `mark_undo_groups_for_gluing` as usual. At this point, `view.is_dirty()` returns `False`.  Sublime Text reports the same `view.change_count()` before and after this

[2017-06-19 16:50] eproxus opened #137 "Bug: window loosing focus marks buffer as dirty"
When saving a file and changing focus to another application the buffer is marked as dirty (unsaved) again.

Using Sublime Text 3 Build 3136 and Sublime Six v0.1.54.

[2017-06-19 17:59] guillermooo commented on #137
Thanks for the report.

Could you please include the exact steps to reproduce this? For example, do you save in normal mode, insert mode...?

[2017-06-20 05:31] guillermooo commented on #110
The solution seems to be to call `unmark_undo_groups_for_gluing` in an `on_post_save` event hander.

[2017-06-21 05:01] guillermooo commented on #22
Nope. My mistake. Reopening.

[2017-06-21 05:39] guillermooo commented on #22
Wait. This is different to your other issue about ca" and friends. This one is actually done. Closing again. Let me know if I'm still utterly confused.

[2017-06-21 05:39] #22 closed

[2017-06-21 05:40] guillermooo commented on #22
@rhelsing  BTW, you should be able to use ci", ci', ci`, ci(, ci[ and ci{.

[2017-06-21 05:40] guillermooo commented on #110
0.1.55

[2017-06-21 05:40] #110 closed

[2017-06-21 05:41] guillermooo commented on #110
I think this is solved now. Closing.

[2017-06-21 05:42] guillermooo commented on #137
@eproxus I can't reproduce this issue. I've changed the logic that detects false dirty buffers in v0.1.55, maybe that will help.

[2017-06-21 05:42] #122 closed

[2017-06-21 05:43] guillermooo commented on #87
Implemented. For completeness, the relevant option is `"enable_ctrl_keys": True`.

[2017-06-21 05:43] #87 closed

[2017-06-21 05:45] #126 closed

[2017-06-21 05:46] #104 closed

[2017-06-21 05:46] guillermooo commented on #104
Implemented.

[2017-06-21 08:21] eproxus commented on #137
Seems to work with Sublime Text 3 Build 3139 and Sublime Six v0.1.55. I'll reopen if it crops up again.

As far as I remember, it happened when going from insert to normal mode, then switching to another application (don't know if an edit in insert mode was necessary or not).

[2017-06-21 08:21] #137 closed

[2017-06-21 21:11] n00ge commented on #110
Looks good. Thanks!

[2017-06-22 03:58] rhelsing commented on #22
thank you!

[2017-06-22 16:44] #103 closed

[2017-06-23 23:35] manova opened #138 "map jj to _enter_normal_mode"
One of my most useful vim hacks is mapping pressing jj to taking me to normal mode. This worked in  Vintageous. However, I'm having issues getting this to work in Six. Here is what I've tried in `Default.sublime-keymap`.
[code]
I would like to know if there's any way to make this work.

Thanks 🙂

[2017-06-24 05:28] guillermooo commented on #138
This should work:

[code]

[2017-06-24 17:35] manova commented on #138
Tried this and it's still not working. Any idea what could be going on?

[2017-06-24 17:53] guillermooo commented on #138
[code]

@manova I use this one too, and the above is working fine for me. You should make sure that you don't have any Vintageous custom key bindings.

[2017-06-25 02:45] manova commented on #138
@guillermooo I figured out the issue. Instead of adding your suggested line to `/Users/okoh/Library/Application Support/Sublime Text 3/Packages/Six/Default.sublime-keymap` add it to `/Users/okoh/Library/Application Support/Sublime Text 3/Packages/User/Preferences.sublime-settings`. To be safe, I also deleted the previous entry I had in there in order to make the hack work for Vintageous which look

[2017-06-25 07:10] guillermooo commented on #125
### To-do Multiline

- [ ] **(**
- [ ] **[**
- [ ] **{**

As far as I can tell, for the rest of the delimiters Vim does not perform a multiline search.

[2017-06-25 17:17] rhelsing commented on #125
@guillermooo

![screen shot 2017-06-25 at 10 16 14 am](https://user-images.githubusercontent.com/392594/27518214-5f390018-598f-11e7-85b7-059d79e15437.png)

From normal mode:
[code]

result:
![screen shot 2017-06-25 at 10 16 22 am](https://user-images.githubusercontent.com/392594/27518217-740e722a-598f-11e7-954d-4dff93324c18.png)

[2017-06-25 17:23] rhelsing commented on #125
@guillermooo I know this isn't core vim, but worth considering a path to implementing the following, either as a plugin (open to be developed by someone else) or as core:

from vim-rails

![screen shot 2017-06-25 at 10 22 11 am](https://user-images.githubusercontent.com/392594/27518247-4aad337a-5990-11e7-8218-dfc869bf5e8d.png)

https://www.cheatography.com/blackxored/cheat-sheets/vim-rails/

[2017-06-25 18:11] guillermooo commented on #125
If it was easy to implement the vim plugin api, that would be ideal, but I'm not sure right now how much work that would be. Don´t expect it any time soon, but as a long term goal, however, it sounds reasonable to at least try.

A quicker solution would to endow Six with its own plugin system. That sort of thing already existed in Vintageous and it worked okay. That is planned for Six, but without

[2017-06-25 18:12] guillermooo commented on #125
Status update: Missing support for tags.

[2017-06-25 18:38] rhelsing commented on #100
@guillermooo can you think of any workarounds for this? possibly a mapping of '=' to "Reindent Lines" function in sublime on a visual selection when in normal mode?

![screen shot 2017-06-25 at 11 37 23 am](https://user-images.githubusercontent.com/392594/27518705-c42f19ca-599a-11e7-869d-df4d593e1a9e.png)

[2017-06-25 18:38] rhelsing commented on #99
@guillermooo this seems to have gotten better.. any updates?

[2017-06-25 18:39] rhelsing commented on #91
@guillermooo any progress on this.. still the main case I am hoping for is the original one mentioned in this thread

[2017-06-25 18:41] guillermooo commented on #100
If that is available as a core command, I think it´s exactly what I was looking for. Thanks!

[2017-06-25 18:44] guillermooo commented on #99
I think my current conclusion is that plugins cannot exert too much control over the undo stack.

Could you describe a series of steps as an example? I think I know what you mean, but just for the sake of clarity.

[2017-06-25 18:45] guillermooo commented on #91
This is planned for this iteration. I'll try to bump up the priority.

[2017-06-25 19:00] guillermooo commented on #100
@rhelsing This will be available in the next version.

[2017-06-25 22:53] rhelsing opened #139 "Implement :s (ie :s/find/replace/g)"
- find/replace operator
- with g option for all on line
- line by line of a visual selection

[2017-06-26 03:07] #138 closed

[2017-06-27 20:17] #125 closed

[2017-06-27 20:34] rhelsing commented on #125
@guillermooo amazing work! love it so much!

[2017-06-27 20:36] guillermooo commented on #125
Further fixes to visual mode coming soon! 😉

[2017-06-27 20:37] guillermooo commented on #125
I'll leave polish for when the caret is inside tags/at tag boundaries for a bit later.

[2017-06-27 21:09] guillermooo opened #140 "<count>v"
Implement `<count>v`.

[2017-06-27 21:09] guillermooo opened #141 "<count>V"
Implement `<count>V`.

[2017-07-01 07:54] guillermooo commented on #91
Implemented for visual and visual line mode when the selection is oriented forwards. I'll close this issue and open a new one for the rest of the cases.

[2017-07-01 07:54] #91 closed

[2017-07-02 13:59] guillermooo opened #142 "implement dap and others"

[2017-07-04 16:27] guillermooo commented on #118
Can't repro. Closing.

[2017-07-04 16:27] #118 closed

[2017-07-04 16:53] #116 closed

[2017-07-04 16:56] guillermooo commented on #99
I'll put this on hold for now. To my knowledge, there's not much that can be done about this right now.

[2017-07-04 17:05] rhelsing commented on #99
That's okay.. I have made a note to be on the lookout for a reproducible example for you

[2017-07-04 18:47] #100 closed

[2017-07-06 04:11] #131 closed

[2017-07-06 04:11] #132 closed

[2017-07-06 04:11] #133 closed

[2017-07-06 04:11] #134 closed

[2017-07-06 04:56] #135 closed

[2017-07-09 07:14] guillermooo opened #143 "it should be possible to enter visual mode from multiple selection mode"

[2017-07-09 07:15] guillermooo opened #144 "it should be possible to enter visual line mode from multiple selection mode"

[2017-07-10 11:11] guillermooo opened #145 "bug switching from vl to v when x is 0"

[2017-07-11 05:09] #143 closed

[2017-07-11 05:09] #145 closed

[2017-07-11 05:15] #128 closed

[2017-07-16 14:34] #141 closed

[2017-07-16 14:34] #140 closed

[2017-07-17 05:14] guillermooo opened #146 "2ctXX<Esc> should not use count for insert mode"

[2017-07-17 18:49] #146 closed

[2017-07-17 19:36] guillermooo opened #147 "clicking while in mutliple selection mode should exit mode"

[2017-07-19 14:03] scebotari66 opened #148 "Visual mode "inner text" issue"
When selecting the text using `vi"` or `vi(`, or any other equivalent command, the first enclosing character is included in the selection.

[2017-07-19 18:42] guillermooo commented on #148
Will be fixed in the next version.

[2017-07-19 18:42] #148 closed

[2017-07-20 01:35] Strangehill commented on #56
This isn't working right. <-- it should take only three W motions to get from the first character to 'right', but it takes four, because of an extra step at "isn't".

[2017-07-20 01:36] Strangehill commented on #52
This isn't working right. <-- it should take only three W motions to get from the first character to 'right', but it takes four, because of an extra step at "isn't".
Analogous to #56

[2017-07-20 01:38] Strangehill opened #149 "implement ~"

[2017-07-20 01:57] Strangehill opened #150 "implement ctrl-c"

[2017-07-20 05:59] #129 closed

[2017-07-20 05:59] #130 closed

[2017-07-20 12:30] scebotari66 opened #151 "wrong cursor position after the `j` and `k` cursor movement commands"
Sometimes, when moving the cursor up and down using the `j` and `k` commands, the cursor doesn't end up in the correct position.

Here is a test case that I've manged to come up with:
![testcase](https://user-images.githubusercontent.com/329976/28417113-6dd6272a-6d5f-11e7-8f4d-6f489f8b4590.gif)

You can see that when I'm on the "i" character (Line 1, Column 24), and the hit `j`, the cursor does no

[2017-07-20 13:32] guillermooo commented on #151
Definitely a bug, but this will only happen if you use tabs for indentation.

[2017-07-20 13:58] scebotari66 commented on #151
That's what I do. Well, we all have sins :blush:

[2017-07-20 23:55] GeordieP opened #152 "Bind jj to enter normal mode not working"
I've had this issue for a while. I've read through #138, and tried the key bind line copied from both it and from the official docs page.

Here's a video of setup on a fresh install. Only other package installed is package control.
https://www.youtube.com/watch?v=s790U_MNUhM

I've had this happen on both Windows and Linux, on more than one machine each. I see nothing of interest printed in the Sub

[2017-07-21 05:18] guillermooo commented on #152
Thanks for the detailed report @GeordieP !

Here's the key binding copied straight from my personal `.sublime-keymap`:

[code]

Some context names have changed recently. I need to document this...

[2017-07-21 10:27] DrBones opened #153 "Cursor position in normal mode with wrapped lines"
Just a small bugbear of mine when working with wrapped lines:

When moving the caret from one wrapped line to the next the box does not reflect the correct position that is being selected. This isn't unique to Six, also Vintageous and even Vintage do that. The console Vim and Atom with vim emulation do not.

![sublimesixcursor](https://user-images.githubusercontent.com/212259/28459868-9a917b1a-6e0

[2017-07-21 14:10] GeordieP commented on #152
Fantastic, that line works perfectly.
Thank you, and thanks for all your hard work on Six. Progress has been moving very quickly, and it's shaping up to be the best ST Vim plugin.

[2017-07-21 14:10] #152 closed

[2017-07-21 15:09] guillermooo commented on #153
Thanks for the report.

To my knowledge, there's no API in ST to handle wrapped lines in program code in any way. However, some built-in ST commands do know about wrapped line boundaries somehow. I'll ping Jon to see if he can expose a few things that are necessary to fix his issue in a satisfactory way.

[2017-07-21 19:22] rhelsing opened #154 "IndexError: list index out of range"
Not sure whats happening but when I close sublime on Mac (only closing all windows, not terminating process) and reopen, I get this error when I open a file. If I completely close sublime and reopen, six seems to start properly.

[code]

[2017-07-21 19:23] rhelsing commented on #154
@guillermooo looks like it's trying to load a file from your machine maybe?

[2017-07-21 19:24] guillermooo commented on #154
Most probably an issue with view activation. It looks like there is no selection available.

(I'm surprised to see my local path there. I guess compiling to .pyc does that.)

[2017-07-21 19:26] guillermooo commented on #154
So does this happen when you close all views in the app and you are left with an empty window?

[2017-07-21 19:29] rhelsing commented on #154
If you don't see an obvious fix, I will try to figure out how to consistently recreate the issue for now..

[2017-07-21 19:38] guillermooo commented on #154
I think there's a bit of custom logic for Mac because Six wouldn't catch the on_activated view event otherwise. It might be related to that. I'll try to use my Mac for a few days.

[2017-07-21 21:54] EduardoBautista opened #155 "Ctrl-w + h,j,k,l for switching between panes"
This is a command I use all the time that is available in Vintage mode.

[2017-07-21 21:55] EduardoBautista opened #156 "`cc` should autoindent"
`cc` autoindents in Vim and Vintage mode.

[2017-07-22 04:57] guillermooo commented on #155
<kbd>Ctrl-w</kbd>-<kbd>h</kbd> and <kbd>Ctrl-w</kbd>-<kbd>l</kbd> should work today in Six, but first you need to set `enable_ctrl_keys` to `True` in *Packages/User/Six.sublime-settings*. There's an item in the command palette called *Preferences: Six Settings* that should open that file.

[2017-07-22 04:58] guillermooo commented on #155
The others will be added later.

[2017-07-22 05:34] guillermooo opened #157 "repeating via . in multiple selection context clears all but one selection"

[2017-07-22 06:20] guillermooo opened #158 "potential issue with macros and A followed by Esc and more commands"

[2017-07-22 07:40] guillermooo commented on #156
Update: Implemented, but tests failing for no reason. Different behavior in manual usage and under test.

[2017-07-22 07:44] guillermooo commented on #157
Not always. Must be in combination with some commands only.

[2017-07-22 07:45] guillermooo commented on #158
No repro. Closing.

[2017-07-22 07:45] #158 closed

[2017-07-22 07:51] guillermooo commented on #157
Possibly due to extraneous `<Esc>` inserted unnecessarily by Six.

Repro:

[code]

[2017-07-22 08:09] guillermooo commented on #56
@Strangehill It may be that your examples got lost due to formatting? Could you please re-add them?

[2017-07-22 08:14] guillermooo commented on #52
@Strangehill Same, it seems your examples got lost. #56

[2017-07-22 08:17] guillermooo commented on #151
ST must know how to do this already and I'm reverse engineering the details. I've requested APIs to solve this. In the meantime I'll try to improve the current situation.

[2017-07-22 08:58] Strangehill commented on #56
That wasn't too clear, sorry! The example sentence is: "This isn't working right."

[2017-07-22 15:54] guillermooo commented on #52
Fixed.

[2017-07-22 15:54] #52 closed

[2017-07-22 16:04] guillermooo commented on #56
Fixed.

[2017-07-22 16:04] #56 closed

[2017-07-22 16:06] guillermooo commented on #154
FWIW, I'm getting this on Windows when running the test suite. Not sure if it's related. Also, I improved logging recently, so this is why these errors are being logged now. They may have been lurking there for a while.

[2017-07-22 16:06] guillermooo commented on #154
Well, for me at least, they are logged. @rhelsing Do you get log entries for ERROR or CRITICAL too?

[2017-07-22 16:11] rhelsing commented on #154
Just opened to check and the issue was happening.. opened a file, didn't see anything in the console, as soon as I pressed esc, i, esc I got this:

[code]

[2017-07-22 16:15] guillermooo commented on #154
Thanks for that. It does look like Six isn't properly initialized for some reason. Ugh.

[2017-07-22 17:49] guillermooo commented on #156
Found the right combination of command parameters for reindent, it seems.

[2017-07-22 17:49] #156 closed

[2017-07-23 09:53] guillermooo commented on #154
On Ubuntu, I get NoneType has not get... error after closing the last view in the app (ST remains open and instantly creates a new view).

[2017-07-23 18:50] circlecrystal opened #159 "Ctrl-r not working right now"
I have already set "enable_ctrl_keys": true in setting file, yet ctrl-r doesn`t work properly.

[2017-07-23 21:04] guillermooo commented on #159
Just checked and `cwfoo<Esc>u<C-r>` worked for me. Any specific repro steps?

[2017-07-24 08:35] guillermooo commented on #154
The error mentioned in my previous post has been solved. Six now ensures to always create a new view when none is available, as transient views seem to behave differently with regards to events compared to regular views.

Still investigating the Mac issue.

[2017-07-25 05:43] guillermooo commented on #154
@rhelsing Managed to repro following these steps:

[code]

[2017-07-25 06:11] guillermooo commented on #154
It seems Six correctly initializes when no open view is available (only a transient view), but fails to go from 1 regular view to 0 regular views after closing the last regular view when the app is already running.

[2017-07-25 06:19] guillermooo commented on #154
So it seems you can have an app active with no available windows in MacOS. I'm getting sporadic init errors depending on whether ST was active+no window before or no active+no window.

If I close all views via `:q` in a running instance of ST, I end up in the active+no windows state.

By active I mean the app is visible via `Cmd+Tab`, I wish I new MacOS terminology better.

[2017-07-25 06:44] guillermooo commented on #154
The test suite also fails if started from a new, single, transient view, but it completes successfully if started from a regular, unsaved, single view.

I need to try this on Windows and Linux too.

[2017-07-25 17:55] guillermooo commented on #154
Apparently this bug was affecting all three platforms.

I could reproduce it by opening the Preferences window and returning to the previous window (closing Preferences), by closing all open views via `:q`, `Ctrl+W` in insert mode or by clicking on the close button.

I've made a fix that at least should avoid the problem, but further fine tuning will be necessary.

[2017-07-25 18:29] guillermooo commented on #154
@rhelsing I've pushed a new build. Let me know if it fixes this issue for you.

[2017-07-26 16:11] anthrotype opened #160 "feature request: center the viewport when highlighting searches"
... so that the currently highlighted search (when using `/`, `?`, `*`, or `&`, as well as `n` and `N`) is is at the center of the screen, like pressing 'zz'.

this would make it more visible, I think.

[2017-07-26 16:27] anthrotype commented on #92
as a newbie to vim, I find myself reaching for the mouse quite often. I'd love to see this feature implemented :)

[2017-07-26 18:59] guillermooo commented on #160
ST does not do this natively either if the occurrence is in the visible area. As soon as the occurrence it is outside the visible area, Six does center the hit on the screen, as does ST.

Six should use the same highlighting for search occurrences as ST, but unfortunately it isn't exposed.

[2017-07-27 06:38] guillermooo commented on #160
I see what you mean now. Yes, I think that can be changed to work as you suggest.

[2017-07-27 09:07] anthrotype commented on #160
Thank you!

[2017-07-27 14:50] guillermooo commented on #92
FWIW, right now you can double-click on a word and Six will switch to visual mode. The same should be done for selections made by dragging, but that's not available yet. I'll try to see if I can get the latter working too.

[2017-07-27 21:53] GeordieP commented on #92
+1 to this request. For the rest of the people waiting, a close workaround that I've been using is to move cursor to (or click) to your desired selection begin, and shift+click the end location. In this case visual mode and vim commands work as intended.

[2017-07-28 06:11] guillermooo commented on #160
This will be implemented in the next build.

[2017-07-28 18:15] #160 closed

[2017-07-28 18:15] #154 closed

[2017-07-28 19:46] EduardoBautista commented on #155
@guillermooo I don't have the _Packages/User/Six.sublime-settings_ file listed in the command palette.

[2017-07-28 19:50] guillermooo commented on #155
![cp](https://user-images.githubusercontent.com/684948/28733917-a961376e-73de-11e7-9e4d-dc2a48aea52f.png)

@EduardoBautista This is what you should get.

[2017-07-28 19:51] EduardoBautista commented on #155
Ah yes, sorry.  It showed up after an update.  Thanks!

[2017-07-28 19:51] guillermooo commented on #155
De nada ;)

[2017-07-28 23:24] anthrotype commented on #160
it works great, thanks! 👍

[2017-07-28 23:32] anthrotype opened #161 "feature request: shift+j to join lines"
it would be nice if the `J` key worked like in vim, to join two consecutive lines.
If I remember well, Vintageous used to do that as well.
thanks!

[2017-07-28 23:33] anthrotype commented on #161
sorry, of course I meant `shift`, not :shit:

[2017-07-29 07:00] #144 closed

[2017-08-02 05:22] #161 closed

[2017-08-02 05:27] guillermooo commented on #159
@circlecrystal I'm closing this one as I cannot reproduce it. Please reopen if the issue persists for you.

[2017-08-02 05:27] #159 closed

[2017-08-02 05:30] #107 closed

[2017-08-02 05:31] #96 closed

[2017-08-02 08:46] yeled opened #162 "yank line (yy) shouldn't include last \n"
AFAIK `yy` in vim does not yank the `\n` as well. Should we replicate this detail?

[2017-08-02 09:15] guillermooo commented on #162
Maybe this depends on config, but I get this in Vim (Windows):

Buffer:

[code]

Caret anywhere on line 2.

[code]

Contrast this with:

[code]

I think Six is doing the right thing, but let me know if I'm missing somehing.

[2017-08-02 09:27] yeled commented on #162
damn you are right. I should have checked 👎

[2017-08-02 09:27] #162 closed

[2017-08-04 05:34] guillermooo commented on #142
Now tracking this one and similar commands separately via cards in Wave 3 project.

[2017-08-04 05:34] #142 closed

[2017-08-06 04:02] timka opened #163 "Repeat"
In Vim I can use `79i#<Esc>` to type in 79 `#`s. This doesn't work in Six.

[2017-08-06 06:56] guillermooo commented on #163
@timka This feature should work in Six, just as `10ofoo` and similar commands. I've just tried and it's working (Windows). Maybe you have other Vim emulators active?

[2017-08-06 13:50] timka commented on #163
@guillermooo Thanks for quick reply! That was `VintageES`

[2017-08-06 13:50] #163 closed

[2017-08-06 13:58] timka opened #164 "Jump to prev/next paragraph (blank line)"
In Vim it's `{` and `}` respectively. Looks like Six doesn't support that.

[2017-08-10 08:43] Strangehill opened #165 "bug: `r` won't replace with"

[2017-08-10 08:44] Strangehill opened #166 "bug: `r` won't replace character with "!" or "&""

[2017-08-10 08:52] #165 closed

[2017-08-10 10:34] eproxus opened #167 "Add-ons such as surround or targets?"
Some of my favorite Vim plug-ins are [vim-surround](https://github.com/tpope/vim-surround) and [targets.vim](https://github.com/wellle/targets.vim#argument-text-objects). Vintageous had a basic implementation of vim-surround.

Is it possible to write add-ons or plug-ins for Six? If so, how would one go about it?

[2017-08-11 04:02] guillermooo commented on #167
Technically, I think it's already possible, but the APIs are not stable. I'll try to give this some more thought in the coming weeks.

[2017-08-11 04:18] #166 closed

[2017-08-14 07:06] eproxus commented on #167
Thanks, let me know how it goes 😄

[2017-08-15 12:06] axel22 opened #168 "Please add support for skipping paragraphs with the curly brace keys"
I just switched from Vintageous to Sublime Six, and I noticed that:

[code]

don't work.

I had to install the Sublime Text "Move By Paragraph" plugin to move around using `{` and `}`, but this does not work in visual mode - my selection is lost when moving around.

[2017-08-15 13:11] guillermooo commented on #168
Duplicate of #164

[2017-08-15 13:12] #168 closed

[2017-08-20 23:42] Mattiaslndstrm commented on #139
I'm also voting for this!

[2017-08-22 01:30] Mattiaslndstrm opened #169 "c dosn't work with multiple selections"
When changing all instances of a word I tried doing ctrl+cmd+g to select and c to change the word, but nothing happens. It's possible to do ctrl+cmd+g, i, and start writing so it's not a major problem, but c would be a more logical choice in my opinion.

[2017-08-22 05:56] guillermooo commented on #169
`c` should support multiple carets (but maybe some motions in combination with it won't).

The easiest way to create multiple selections in Six is by using `gh` (additive selection) + `j` (add selection), `k` (remove selection), or `l` (skip instance). You can also use `gH` to add lines instead.

These modes are called MULTIPLE SELECTION and MULTIPLE LINE SELECTION. You can't perform edit operatio

[2017-08-22 18:29] Mattiaslndstrm commented on #169
Thank you for the information about gh! It's useful. But to select all the instances in the case of more than 2-3 instances, ctrl+cmd+g should be quicker.

So there is no way of going into insert mode from this modes? Pressing a, i or c doesn't work. How do you mean I can switch to visual and normal mode from there and then perform edits?

[2017-08-24 09:48] guillermooo commented on #169
Not yet.

Press `<Esc>` or `v` while in multiple [line] selection mode.

[2017-08-31 08:37] eproxus opened #170 "Implement ="
Sublime has the _Indentation: Reindent Lines_ command in the Command Palette, perhaps this could be used?

[2017-09-01 01:41] Mattiaslndstrm opened #171 "W moves too far"
Examples
`cW` deletes `we're ` in `we're going too slow`, instead of only `we're` (a space too much)

Having the cursor at the first character in the first line W jumps to the second line instead of jumping to `=`

[code]

[2017-09-01 09:31] yeled opened #172 "Is running `ex` commands through neovim viable?"
There is [prior art](https://github.com/VSCodeVim/Vim#neovim-integration) that this is one way forward for the `ex` commands at least.

[2017-09-01 10:18] yeled opened #173 "implement R"
replaces and overwrites.

`Enter Insert mode, replacing characters rather than inserting`

[2017-09-02 08:15] guillermooo commented on #170
This should be available today. I will double check.

[2017-09-02 08:18] guillermooo commented on #172
The point of Six is to use the Sublime Text API for implementing all Vim functionality, so this is planned.

[2017-09-02 08:18] #172 closed

[2017-09-04 08:58] eproxus commented on #170
It could be that it registers as a command because I see the `=` character in the bottom bar. It doesn't have any effect though.

[2017-09-05 16:15] brianpmaher opened #174 "Implement tab switching with `gt` and `gT`"
Title says it all.  I'd like to be able to switch tabs with `gt` and `gT` as I would in vim.

[2017-09-07 00:33] Mattiaslndstrm opened #175 "Map ctrl+j to enter/<cr>/insert newline in insert mode"
I've been trying to just copy the information from the enter keybinding from the default keybindings. I've also tried to just remap it as I have done with jj and esc. Nothing works.

Any idea how to solve this?

Thank you for an amazing plugin!

[2017-09-10 06:34] slice opened #176 "cW/dW... does not preserve whitespace"
`|` = caret

#### current behavior
[code]
<kbd>cW</kbd>
[code]
#### expected behavior
[code]
<kbd>cW</kbd>
[code]

[2017-09-12 22:31] Mattiaslndstrm commented on #176
See issue #171

[2017-09-12 22:35] Mattiaslndstrm opened #177 "Macros dissappear when restarting Sublime"
As title says.

[2017-09-13 05:28] guillermooo commented on #175
`Ctrl+j` is probably missing in the `.sublime-keymap` file for Six. Otherwise, what you've tried should work.

I'll check if I can add this combination in the next build.

[2017-09-13 17:39] jwkicklighter commented on #167
If there was support for this (and proper find/replace using :s/word/replacement/g), I would probably buy both Sublime and Six. Not sure if I'm the only one in that boat, but good vim support is keeping me in VSCode right now.

[2017-09-13 18:49] rhelsing commented on #167
@jwkicklighter see issue #139

[2017-09-13 21:19] jwkicklighter commented on #139
With % for entire file.

[2017-09-14 08:18] dvcrn opened #178 "Can't bind `space` for commands"
Example:

[code]

Hitting `space`, `p` results in `paste` being executed

[code]

works fine on the other hand. I am using `space` as my custom leader and would like to bind commands on keybindings starting with it

[2017-09-14 08:25] dvcrn opened #179 "Sublime CMD+D select should behave as visual"
When using sublime texts build in command to select blocks of text, Six should treat it the same as visual mode. For example (`_` is cursor position):
[code]

CMD+D selects `hoge`, but now using a motion like `c` is not doing anything. Using `ve` on the other hand is also selecting `hoge` but with full support for motions like `c`.

This is important because multiple word selections for example wi

[2017-09-14 22:22] Mattiaslndstrm commented on #179
See #169 as well

[2017-09-14 22:24] Mattiaslndstrm commented on #175
Thank you! I solved it with a system wide keymap with Karabiner though.

[2017-09-15 04:42] slice commented on #176
Alright, closing.

[2017-09-15 04:42] #176 closed

[2017-09-16 01:12] math2001 opened #180 "Auto insert line break"
I'm pretty sure it's the `textwidth` option on vim that enables this (when different than 0).

[2017-09-16 10:00] guillermooo commented on #178
Even though custom mappings are not yet officially supported, have you tried `" "` instead of `space`?

[2017-09-16 10:06] guillermooo commented on #167
Cmdline commands are not really planned for this version, but I keep including some by popular demand. I am also missing `:s`, for example, so a simplified version of it may be available sooner than planned.

As for custom plugins, I'll try to look into this again (I've been away for a while), but my priority is fixing bugs in normal, operator pending, visual[ line] mode and ensuring that most peo

[2017-09-16 10:08] guillermooo commented on #180
Interesting. First time I hear about it. Is suppose this is mainly useful when pasting?

[2017-09-16 17:39] guillermooo commented on #179
The preferred way to create multiple selections from normal mode can be found in the post linked by @Mattiaslndstrm.

`Ctrl/Cmd+D`, however, seems to be a legitimate operation in Sublime Text. That said, the interaction with other modes could be improved. Perhaps a sequence like `Ctrl+D, <Esc>` should switch to visual mode, or, as you suggest, `Ctrl+D` should directly switch to visual mode (but to

[2017-09-16 21:58] math2001 commented on #180
It probably is pretty useful for pasting (although I'm not even sure it actually gets activated when we paste), but no, it's just when you type markdown for example, you don't have to worry about the ruler, it automatically inserts line break *before* the word that *crosses* the ruler:

Have a look at this:

![vim-textwidth](https://user-images.githubusercontent.com/15224242/30516285-e57ddeb6-9b7d

[2017-09-19 01:20] dvcrn commented on #178
That seemed to work! Odd. According to [this](http://docs.sublimetext.info/en/latest/reference/key_bindings.html#bindable-keys), `space` should have done the job too.

[2017-09-19 01:20] #178 closed

[2017-09-19 16:55] guillermooo commented on #180
That looks really useful, but I don't think ST supports anything like that out of the box. I think Six will have to listen on every buffer change event and go from there.

[2017-09-20 06:34] dvcrn opened #181 "Shift+[ / Shift+] jumps not working in visual mode"
When entering visual mode, Shift+[ and Shift+] seem to no longer be able to jump blocks. As soon as visual mode is left, everything works fine again

[2017-09-22 08:15] yeled opened #182 "`J` swallows first word if preceded by \t"
Watch this gif to see what I mean.

http://spodder-com-photo.s3.amazonaws.com/screenshots/2017-09-22%2009.14.34.gif

I am pressing `J` to remove the `\n`

[2017-09-23 20:48] nikitavoloboev opened #183 "yanking text does not work"
I tried `y` one some text and I also tried `yi"` to tank inside quotes and more and neither of them worked. 😞

[2017-10-03 06:40] guillermooo commented on #182
Also happens if there's a single space before the first word in the next line.

[code]

`J` from first line swallows `bbb`.

[2017-10-03 07:23] guillermooo commented on #182
Should be fixed in the next build.

[2017-10-03 22:49] Mattiaslndstrm opened #184 "3i / 3a doesn't work (insert with count)"
Expected behavior:

` [1-9][1-9][1-9]`

Actual behavior:

`[1-9[1-9[1-9]]]`

[2017-10-03 22:51] Mattiaslndstrm commented on #184
My wrong. I used Sublime's autocomplete for the brackets.

[2017-10-03 22:51] #184 closed

[2017-10-05 13:46] nikitavoloboev opened #185 "How to set leader key?"
I want to set leader key as space. And I want to map <leader> + w to save on file.

Is this possible to do that?

[2017-10-06 11:32] babygau commented on #185
Yes, you can do it, that's what I'm doing with my keybinding.

[code]

[2017-10-06 11:44] nikitavoloboev commented on #185
Hi @babygau

Can you please help, I tried using this config [here](https://github.com/nikitavoloboev/dotfiles/blob/master/sublime/preferences.sublime-settings#L32) but it fails for me. 😞

[2017-10-06 11:51] babygau commented on #185
@nikitavoloboev
That file is **User Setting** not **Keybinding**

Choose `Sublime Text -> Preferences -> Keybinding` and put the above snippet.

[2017-10-06 12:08] nikitavoloboev commented on #185
This works. Thank you.

[2017-10-06 12:08] #185 closed

[2017-10-07 08:08] babygau commented on #183
@nikitavoloboev I got no issue here. Have you tried

`Cmd+Shift+P` -> Preferences: Six Setting

[code]

[2017-10-07 09:29] nikitavoloboev commented on #183
That fixed it, Thank you @babygau

[2017-10-07 09:29] #183 closed

[2017-10-07 22:21] math2001 opened #186 "Implement ctrl+r in insert mode"
<kbd>ctrl+r</kbd> + `register` should insert the content of `register`.

[2017-10-07 22:27] math2001 commented on #180
I'm closing this issue as I think it could (maybe even should) be implemented in a separated plugin and the number of issue 😄 . I might do it in the future.

[2017-10-07 22:27] #180 closed

[2017-10-07 22:32] math2001 opened #187 "Implement r in visual mode"
If you select some text, press `r` and then an other letter, it should replace every character in the selection with this character.

Right now it interprets the letter (if you press `d`, it'll delete the selection for example)

[2017-10-08 00:04] math2001 opened #188 "Implement gf"
Go to file under cursor (might be a bit weird with multiple cursors though, maybe disable this command when there is more than one).

[2017-10-08 00:17] math2001 opened #189 "Implement ~"
`~` is suppose to swap the case of current selection (or if there isn't any, swap the case of the current character and move to the next one)

[2017-10-08 07:39] babygau commented on #189
#149

[2017-10-08 07:41] #189 closed

[2017-10-08 07:42] math2001 commented on #189
My bad, looked for `~` in the github issues, but nothing came up (nothing still comes up)...

[2017-10-08 11:02] babygau commented on #175
@Mattiaslndstrm
For now, you could try the following
[code]

Note that I use `o` and `O` instead of `Ctrl+j` or `Ctrl+k` bcoz I find it easy to remember.

The advantage of this small tweak is you don't have to use system-wide keybinding as you do with `Karabiner`.

[2017-10-09 07:02] math2001 commented on #180
Quickly made a plugin to do that over here: https://github.com/math2001/textwidth

[2017-10-09 08:16] babygau commented on #180
Tks for sharing 👍

[2017-10-13 05:38] math2001 opened #190 "Bug with gqap on last paragraph"
When I run `gqap` on the last paragraph, it creates 2 cursors, one on the last paragraph, and one on the previous one.

[2017-10-18 06:01] guillermooo commented on #190
The extra selection is created after calling the `wrap_lines` ST built-in command. I have tested this in plain ST and it doesn't happen. I have not tested this in plain ST after enabling `command_mode` and adding a wide selection.

I've added a workaround that counts the number of selections before and after calling `wrap_lines` and adjusts them as needed.

[2017-10-26 15:25] DrBones commented on #50
Hi,

I wonder, is there something I can do to speed up the implementation of this (and of course the respective "gj" issue) ? Or is there possibly a workaround I can apply on my end?
I write a lot of latex at the moment and rely a lot on wrapped lines and moving by real line is quite the inconvenience, although very vim like I believe :). This is basically what keeps me from switching from NeoVint

[2017-10-30 12:55] rhelsing commented on #139
@guillermooo any plans for this in the near future? This is just about the only thing I run into on a regular basis

[2017-10-31 10:39] guillermooo commented on #164
Implemented.

[2017-10-31 10:39] #164 closed

[2017-10-31 16:30] #182 closed

[2017-10-31 16:30] #190 closed

[2017-11-01 05:20] guillermooo commented on #139
@rhelsing I'll try to sort out a couple things first and then I'll look into adding this one. (I'll be away starting Nov 4th for a week, so I'll be able to plan and design, but probably not do much coding during that time.)

[2017-11-01 05:22] guillermooo commented on #50
To my knowledge, this can only be implemented with a workaround at the moment---ST does not offer a way of detecting line wrap boundaries in any way. I think the workaround should work ok in the general case, so I'll try to use that for now.

[2017-11-01 07:47] guillermooo commented on #50
Implemented.

[2017-11-01 07:47] #50 closed

[2017-11-02 08:10] scebotari66 opened #191 "Indentation issue with the repeat command (.) when selecting from the bottom to the top"
Given the following code:
[code]
In visual mode, with the cursor located at the declaration of the `b` variable, execute the following commands:
[code]
![repeat_indenting_issue](https://user-images.githubusercontent.com/329976/32315492-f86be8c8-bfb4-11e7-94c7-0a4a2524f6be.gif)

When executing the `.` repeat command, the indentation of the `var a` and `var b` lines is expected, instead, the  `var a

[2017-11-03 06:11] guillermooo commented on #191
Status:

- [ ] Fixed for Visual Mode
- [ ] Fixed for Visual Line Mode

[2017-11-13 14:56] DrBones opened #192 "implement gj/gk in visual mode"
They are disabled at the moment. I feel greedy for requesting them but since gj/gk work now in normal mode (albeit with a workaround) I hope it might not be too much work to implement them with the same work around in other modes as well.

Realted but OT: I tried mapping j->gj only in normal mode so I could use the line wise behaviour in visual mode but "six_is_in_command_mode" is apparently true

[2017-11-16 08:51] #191 closed

[2017-11-18 08:47] guillermooo commented on #92
It seems it isn't possible to detect a `drag_select`  mouse command that created a 0-width selection vs one that created a non-0-width selection (using `on_post_text_command(...)`). This makes handling mouse-created selections complicated. Vintageous would preserve any pre-existing selections in normal mode when an operator was used and consider itself to be in an implicit visual mode, hence execu

[2017-11-18 09:04] #150 closed

[2017-11-18 09:04] #147 closed

[2017-11-22 21:54] guillermooo commented on #139
Already in the newest version (basic implementation). I'll add features gradually, but I'll close this issue now. You can report missing `:s` features in separate issues.

[2017-11-22 21:54] #139 closed

[2017-11-24 06:21] #149 closed

[2017-11-25 09:42] guillermooo commented on #102
The result is too confusing because the actual caret position is invisible. Discarded for now.

[2017-11-25 14:56] rhelsing opened #193 ":s Substitute improvements"
* apply to a visual selection over multiple lines

[2017-11-27 09:48] guillermooo commented on #193
Basic support for `:s` in visual modes added for next build.

[2017-11-27 09:48] #193 closed

[2017-11-27 10:22] michaelkoper commented on #174
If you want this right now. I solved this with adding these lines in my keymap file:

    { "keys": ["g", "t"], "command": "next_view", "context": [
      { "key": "setting.command_mode", "operand": true },
      { "key": "setting.is_widget", "operand": false }
    ]},
    { "keys": ["g", "T"], "command": "prev_view", "context": [
      { "key": "setting.command_mode", "operand": true },
      { "

[2017-11-27 10:26] michaelkoper opened #194 "I can't find a Donate link anywhere here or sublimesix.com"
I love this plugin and don't want it to go away.  I would like to pay a little bit more than the price of the license.

Is there an easy way to do this?

[2017-11-27 13:50] guillermooo commented on #194
Thanks @michaelkoper !

I use Six every day and I've been making Vim plugins for ST for years. (I sure hope this is the last one!) All this to say it's unlikely that I will abandon Six any time soon.

However, if you feel like paying more and have no use for additional licenses (send me the names + email addresses if you do!), this is my PayPal.Me: https://www.paypal.me/guillermooo

[2017-11-27 14:03] michaelkoper commented on #194
Glad it isn't going away any time soon :) Sent you some to your paypal account!

Thank you @guillermooo!

[2017-11-27 18:15] nikitavoloboev opened #195 "How to add case insensitive search"
In vim I could do `:set ignorecase` but I am not sure how to do it here.

Thank you for any help.

[2017-11-27 18:30] guillermooo commented on #195
In the future it will be possible to do that. However, the feature is not ready yet.

In the meantime, you can use the Six settings file and add this:

[code]

To open the settings file, select _Preferences: Six Settings_ from the command palette (<kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>P</kbd>).

[2017-11-28 01:10] edhub opened #196 "multiple selection behave differently in normal and insert model"
In insert model, cmd + D only select the word
In normal model, cmd + D selects the word + space after it

Every time I do multiple selection in normal model, I have to press esc to cancel the selection, and then edit.

[2017-11-28 07:25] guillermooo commented on #196
When in normal mode, you should use `gh` or `gH` for entering multiple [line] selection mode, then use `j` for adding selections, `k` for removing selections and `l` for skipping the current selection.

Note that you cannot perform operations directly while in any of the two selection modes. You first have to press `Esc` or `v`. This may change in the future so that operations can be done directly

[2017-11-28 07:29] edhub commented on #196
thanks for the reply 👍

[2017-11-28 07:29] #196 closed

[2017-11-28 10:45] guillermooo commented on #195
@nikitavoloboev Feel free to reopen if the info above didn't work for you.

[2017-11-28 10:45] #195 closed

[2017-11-28 10:45] #194 closed

[2017-12-04 22:06] EduardoBautista opened #197 "Can't go to line when in visual line mode"
Say I go into visual line mode (shift + v).  I then want to go to line 55 so I type `55gg` or `55G` but that doesn't seem to work.

[2017-12-05 06:00] guillermooo commented on #197
Not implemented yet. I'm about to start a long refactoring cycle, but I'll try to squeeze this one in.

[2017-12-20 18:53] Mattiaslndstrm commented on #177
Any plan on implementing this? I use macros quite a bit, and it's frustrating to recreate them every time I restart Sublime.

Thank you!

[2017-12-21 13:11] guillermooo commented on #177
AFAIK Vim only keeps macros around if you explicitly issue a `:mksession` command at some point. Currently Six has no notion of config persistence beyond plain Sublime Text settings. I think this is a high priority item, but I'm not sure how Six should implement it right now.

In fact, my plan is to enable first key remappings in some modes in the near future. That will require some infrastructure

[2018-01-26 23:55] dannycodes commented on #152
Thanks Guillermooo!

[2018-01-30 18:21] dannycodes opened #198 "Performance Issues with Pretty JSON"
Sublime Text has pretty good large file support. I frequently use the pretty JSON package to expand minfied JSON to 40k line blocks.

With the six package enabled, running pretty JSON with any sizable file will cause Sublime to enter its 'grey mode' (that mode where UI locks up). It will stay in this mode indefinitely.

This isn't a big problem, as I can just disable the package before running pre

[2018-01-30 18:34] guillermooo commented on #198
Thanks for the report!

Some Six commands' performance will degenerate quickly for long lines in their current implementation. I need to revise those. However, the UI freezing might indicate another bug. I'll try to repro this on my end.

[2018-03-05 00:38] Mattiaslndstrm commented on #177
Thank you for a detailed answer! It makes me glad that you are in for the long term. This is a great plugin.

[2018-03-11 13:47] nikitavoloboev opened #199 "How to make save + close command mapping"
I tried to do this:

[code]

But that does not combine the commands. I am not sure how I can combine them if I can. Thank you for any help.

[2018-03-11 21:04] guillermooo commented on #199
I don't think that will work. While you are using Six and are in normal/visual mode, key presses go through the Six key handling mechanism. You cannot execute native ST commands directly this (at least I don't think you can) and there's limited things you can do even following the Six patterns for json-based key bindings. I want to work on key mappings, but sorting out other priority items slowed

[2018-03-11 21:10] guillermooo commented on #199
These are the current custom key bindings I'm using myself:

[code]

[2018-03-11 21:10] nikitavoloboev commented on #199
`:wq` is what I want to achieve. I just thought I had to do it this way by triggering two commands.

[2018-03-11 21:12] nikitavoloboev commented on #199
Hey @guillermooo

This doesn't seem to work for me for some reason. The `j j` one does but not `space + :`.

I also tried this:
`{ "keys": [" "], "command": "six_press_key", "args": {"key": "a"}, "context": [{ "key": "six_is_in_command_mode" }, {"key": "six_is_accepting_input", "operand": false }]},
`

[2018-03-11 21:14] guillermooo commented on #199
If you add the key bindings I showed above, you should do `<space>wq` (or any other ex command available). But you should drop the `:`. Does that help?

[2018-03-11 21:17] nikitavoloboev commented on #199
Still confused. I don't see where in your command it triggers `:wq` (save & close). I have this now:
` { "keys": [" ", "a"], "command": "six_press_key", "context": [{ "key": "six_is_in_command_mode" }, {"key": "six_is_accepting_input", "operand": false }]},
`

[2018-03-11 21:19] nikitavoloboev commented on #199
To clarify I want `<space>:` to trigger `:wq`.

[2018-03-11 21:24] guillermooo commented on #199
OK, I'm not making myself clear. I'll try again!

What I'm showing you is how to enter ex mode using the `<space>` key, not how to make `<space>a` save and close.

I use the `<space>` key to enter ex mode (normally activated via `:`) and *then* I type in `wq`. So after adding the key binding above, every time I want to close and save the active file, I press `<space>wq<enter>`; but I press the who

[2018-03-11 21:26] guillermooo commented on #199
@nikitavoloboev So `<space>wq<enter>` is not good enough for your use case?

[2018-03-11 21:34] nikitavoloboev commented on #199
Yes it's not. I also currently use <space>wq but I use that operation very often and want to bind it to just <space>a. Thank you.

[2018-03-11 21:37] nikitavoloboev commented on #199
My current Six config:
[code]

[2018-03-11 21:39] guillermooo commented on #199
I'm not sure this will play well with all Six pending states, but you can try:

[code]

This is kind of unsupported, but it should work reasonably well.

[2018-03-11 21:42] nikitavoloboev commented on #199
This works really close to what I want. However I realised that what I actually need is `Save` and then `Close` and not `:wq`. The reason is that `:wq` leaves off the window open like so:

![2018-03-11 at 22 41](https://user-images.githubusercontent.com/6391776/37258803-6ae4d26a-257d-11e8-8449-2e862fca3055.png)

But `Close` closes the window. Can you rewrite this action to avoid this please. Thank

[2018-03-11 21:44] guillermooo commented on #199
I see. So you want to replicate the Vim behavior where closing the last open buffer closes the window too. I'll try to implement that in the next build.

[2018-03-11 21:45] nikitavoloboev commented on #199
That would be super nice. Thank you.

[2018-03-13 05:24] guillermooo commented on #199
@nikitavoloboev From 0.8.81 you should switch from

[code]

to

[code]

(Remove trailing `<Esc>` key.)

[2018-03-14 20:41] nikitavoloboev commented on #199
Thank you @guillermooo

Your update works wonderfully so as the mapping.

[2018-03-15 12:40] nikitavoloboev commented on #199
Hi @guillermooo

There is a big issue with how `:wq` now. It actually quits Sublime Text for me when I `:wq` (cmd + q) and not just close the window (cmd + shift + w).

Can you please make it trigger cmd + shift + w instead. Thank you.

[2018-03-15 13:31] guillermooo commented on #199
Oops. Will fix asap.

[2018-03-16 08:50] guillermooo commented on #199
@nikitavoloboev Should be fixed by 0.8.82. Feel free to reopen if it's not the case.

[2018-03-18 22:23] guillermooo commented on #185
@babygau  @nikitavoloboev

I like the leader key trick! But keep in mind you want Six to process spaces for `f`, `t` and other motions/operand accepting input.

Follow the pattern [here](https://github.com/guillermooo/Six/issues/199#issuecomment-372550919) to do that.

[2018-03-26 09:37] #171 closed

[2018-04-18 19:57] Asuza opened #200 "Doesn't seem to work after installing"
I'm not really sure if I need to activate the plugin, but there are a lot of errors going on and no vim-like commands seem to be doing anything.

Here's some output:
[code]

[2018-04-24 07:15] guillermooo commented on #200
Have you disabled Vintage/Vintageous? Those plugin will interfere with Six.

[2018-05-14 23:16] Mattiaslndstrm opened #201 "esc, c, tab in command mode crashes Sublime"
There might be other combinations as well, but the problem seems to be tab in command mode. While I can't be fully sure this is due to Six, it seems very likely.

[2018-05-15 05:29] guillermooo commented on #201
@Mattiaslndstrm Six currently ignores the `Tab` key. I'll try to fix that in the next dev build. However, the sequence `Esc, c, Tab` in normal mode does not crash Six for me. It simply causes Six to stay in operator pending mode for `c`.

[2018-05-16 19:59] guillermooo commented on #201
`<Tab>` should now be enabled in the  latest dev build.

[2018-05-16 19:59] #201 closed

[2018-05-17 03:08] Asuza commented on #200
Sorry, I must have forgotten to respond. No plugins were enabled that would interfere with Six. I should have made it clear that my name is not _guillermo_, which the plugin is referencing, and I'm using Linux, while it's trying to access a Windows file path. This is definitely not a configuration issue.

[2018-05-17 03:08] Asuza commented on #200
@guillermooo, I don't see an option to re-open this issue, so I'm mentioning you here.

[2018-05-17 05:33] guillermooo commented on #200
I will try to take a look on Linux.

[2018-05-17 05:43] guillermooo commented on #200
@Asuza I've just done a fresh install of Six via Package Control on a Xubuntu VM and it works fine for me the first time.

The wrong name in paths should not be an issue.

My user's `.sublime-settings` file only contains the following:

[code]

[2018-05-25 11:38] eproxus commented on #200
Can reproduce. Fresh install of build 3176, installed Sublime Six but nothing happens. Vintage is in the ignored list by default in Sublime Text.

[2018-05-27 22:02] axel22 opened #202 "Could not reenter Normal mode"
It happens from time to time, without a clear pattern, that I cannot reenter normal mode. The output of the console is:

[code]

[2018-05-28 05:41] guillermooo commented on #202
Thank you for the bug report. I suspect this happens under some circumstances while Six is being used in multiple windows at the same time. For example, if you have configured Sublime Text as your git `$EDITOR`.

It's strange that Normal mode isn't available because modes are added to the editor at start-up and never cleared.

Are you using pre-release versions (configured via Package Control)? I

[2018-05-31 19:43] DrBones commented on #179
The `gh` command is a good substitute for `Ctr/Cmd -d` but there is a multitude of selection options in SublimeText (like expand to scope or tag, which is really handy) and plugins that select stuff (like Expand Region, which is even more handy) also do not know about visual mode.

I support that all the normal selection command of SublimeText should directly switch to visual mode so one does not

[2018-06-07 03:53] guillermooo commented on #198
@dannycodes I've tried with this file: https://github.com/zemirco/sf-city-lots-json

For me, the PrettyJSON package freezes ST with or without Six if I attempt to compress the file in the editor. Are you talking about files this big?

[2018-06-07 03:54] guillermooo commented on #202
@axel22 I haven't seen this is a while. I'm closing this for now, but feel free to reopen the issue if you come across it again.

[2018-06-07 03:54] #202 closed

[2018-06-07 04:06] guillermooo commented on #197
@EduardoBautista A typo was causing an error. Will fix for the next dev build.

[2018-06-07 04:06] #197 closed

[2018-06-07 04:10] guillermooo commented on #200
@Asuza I routinely test Six on all three OSes and I can't reproduce anything like this error. Also, I haven't received similar reports from other users. I will close this now, but feel free to reply and mention me if you are still experiencing the issue.

[2018-06-07 04:10] #200 closed

[2018-06-07 04:15] guillermooo commented on #179
I will investigate switching to visual mode automatically after the `expand_selection` command.

[2018-06-07 04:55] guillermooo commented on #179
@DrBones The way I see this working is as follows:

1. User enters insert mode
2. User selects some text through CMD+d, CMD+M, etc...
3. Now non-empty selections exist in the buffer in insert mode
4. User presses Esc to abandon insert mode
5. Six switches to visual mode (not normal mode), as there are non-empty selections in the buffer

This seems to work well in my limited testing, but it introdu

[2018-06-07 05:48] #117 closed

[2018-06-07 13:22] eproxus commented on #199
@guillermooo With v0.8.88 I get the following error when trying your latest example from above:
[code]
Did something change?

[2018-06-07 18:49] guillermooo commented on #199
@eproxus

Vim mappings in normal mode have been introduced. You should now be able to map keys for normal mode (not visual mode or any other mode yet) using `:nmap`. For example, the above mapping would translate to:

[code]

An it seems that I've changed to the `six_press_key` to reject `list<str>`. I will see if I can fix that.

For how to persist the above command between sessions, please refer

[2018-06-07 19:45] guillermooo commented on #199
@eproxus Should be fixed by 0.8.89 (out right now).

[2018-06-08 12:10] nikitavoloboev opened #203 "How to stop highlighting character in normal mode"
When I hover over a character in normal mode. Like here I am hovering over `S` char:

![2018-06-08 at 14 08](https://user-images.githubusercontent.com/6391776/41157275-86109090-6b25-11e8-9819-c4ef257a7ee5.png)

Is it possible to turn off it highlighting the character in grey color. And only start highlighting it when I go in VISUAL mode and highlight more than one char?

[2018-06-08 19:13] #187 closed

[2018-06-08 19:14] #115 closed

[2018-06-08 19:21] guillermooo commented on #170
`=<motion>` seems to be implemented. Closing this.

[2018-06-08 19:21] #170 closed

[2018-06-09 16:08] Mattiaslndstrm opened #204 "o is adding a tab"
Under certain circumstances o is adding a tab when there should be none. So far I have only noticed in Python. This might be a bug with the Python language implementation in Sublime.

`t = (1, 2, 3)`  + `o`

leads to:

[code]

Where I is the cursor.

[2018-06-09 16:59] guillermooo commented on #204
I see this fairly often in other languages too. When you press `o`, Six calls a default Sublime Text macro, so the problem in principle should lie with Sublime Text's indentation rules.

[2018-06-09 17:08] guillermooo commented on #203
I don't change themes much, only color schemes when the lighting conditions require it, so I wouldn't know about themes impacting the fake block cursor appearance.

As far as I know, the block cursor implementation in ST is sadly very lacking and I don't think you can control any aspect of it beyond some padding. Since I only know the basics about themes and color schemes, I can't really figure ou

[2018-06-12 14:34] nikitavoloboev commented on #199
Hey @guillermooo. With new update this mapping:
[code]
Stopped closing the window when closing the last open tab. Is it possible to change it so it does?

Thank you.

[2018-06-13 09:50] guillermooo commented on #199
I will change the handler so that if after exiting Ex mode the window has 0 views (or 1 transient view), ST will quit.

[2018-06-13 19:10] guillermooo commented on #199
Should be fixed in the next build.

[2018-06-13 19:10] #199 closed

[2018-06-16 08:36] #157 closed

[2018-06-16 08:38] guillermooo commented on #106
Block mode is not yet available, but you can use `gh` and `gH` in combination with `h`, `j`, `k`, `l` to use Sublime Text's multiple selections.

[2018-06-16 08:46] guillermooo commented on #169
@Mattiaslndstrm  Is `ctrl+cmd+g` a macOS combination or is it a ST one? I can't find it. Do you know which ST command does it trigger?

[2018-06-16 08:50] guillermooo commented on #179
Implemented. Pre-existing selections in insert mode will not be collapsed when switching back to Normal mode. Instead, Six will switch straight to Visual mode.

[2018-06-16 08:50] #179 closed

[2018-06-16 13:14] nikitavoloboev opened #205 "Six stopped going to normal mode on opening files 100 % of the times"
It happens sometimes that I open a file and I am not in normal mode:

![2018-06-16 at 15 13](https://user-images.githubusercontent.com/6391776/41498860-d72225d6-7177-11e8-9162-2d0250811964.png)

This started happening with some recent updates as before I never had that problem. I am using latest version of Six (`v0.8.91`) and Sublime Text editor.

[2018-06-16 15:35] guillermooo commented on #205
@nikitavoloboev Most files open in normal mode for me. There is a case where they don't: when I use `subl` as my `$EDITOR` and git opens the file. In that case, the _second_ file that git opens (for example, while `rebase`ing) starts in insert mode.

Do you have any specific repro steps?

I will give this a try on macOS, but on Windows it doesn't seem to happen 100% of the time.

[2018-06-16 16:01] nikitavoloboev commented on #205
I can reproduce it 100 % of the times. I open a file, and go to Insert mode. Then close the tab with cmd + w and try open any other file from Finder for example. The file will be opened with Insert mode, not Normal.

Before it always went to Normal mode as is intentional. After some update this broke it seems.

[2018-06-16 16:10] guillermooo commented on #205
OK. I can confirm the issue on macOS when:

1. User goes to insert mode
2. User closes last view with _native_ ST key binding
3. The next time ST starts, it istarts in insert mode (no status bar mode hint)

@nikitavoloboev Could you please run this in the ST console and tell me what you see when this happens?

[code]

[2018-06-16 16:12] guillermooo commented on #205
The same repro steps do **not** work on Windows.

[2018-06-16 16:16] nikitavoloboev commented on #205
I get:

`'normal'`

[2018-06-16 16:28] nikitavoloboev commented on #205
I am certain this worked on macOS as intended quite a few releases back. I have been using Six for over a year now.

[2018-06-16 16:30] guillermooo commented on #205
I'll check past versions in macOS and see if I can find the issue.

[2018-06-16 16:31] nikitavoloboev commented on #205
I am using 10.11.6 currently. But plan to upgrade to 10.14 soon.

[2018-06-16 16:43] guillermooo commented on #205
As far as I can tell, this bug has been there since the very first version of Six.

More details:

I can't repro the bug if I exit the application (one transient view, insert mode) by pressing `cmd+q`. In that case, Six starts in normal mode the next time (running `subl` from the command line, no file path given or Finder).

So, so far, it seems this only happens if you enter insert mode in the la

[2018-06-16 16:47] nikitavoloboev commented on #205
Or cmd + shift + w. Which effectively closes the window and all the tabs in the current window.

[2018-06-16 19:51] guillermooo commented on #205
Maybe related: https://developer.apple.com/design/human-interface-guidelines/macos/app-architecture/restoring-state/

[2018-06-16 20:11] guillermooo commented on #167
@eproxus FYI - https://github.com/SublimeSix/plugin-surround

[2018-06-16 20:33] guillermooo commented on #205
For reference:

* https://support.apple.com/kb/ph25174?locale=en_US
*https://support.apple.com/kb/PH25079?locale=en_US&viewlocale=en_US

[2018-06-16 20:35] guillermooo commented on #205
In sum, it looks like macOS keeps apps open after the user closes them (!?) in certain ways, so naturally the init process does not happen again when the user restores the app.

The only true way of exiting a macOS app is "quitting" the app.

Any other way of closing windows does not quit the app; the app stays around in a windowless state.

[2018-06-17 17:05] guillermooo commented on #205
@nikitavoloboev The bug should be partially fixed in 0.8.92-dev.00.3.

To obtain this version, you need to add the following to your Package Control config file:

[code]

[2018-06-17 21:07] Mattiaslndstrm commented on #169
@guillermooo the command triggers `find_all_under`. It's definitely a Sublime-one, but I'm not sure if it's mac only or not.

[2018-06-17 21:14] Mattiaslndstrm opened #206 "Sublime's command are easier to use than e.g. gh"
`gh`seems to be the recommended way of doing multiple selections with Six. As it is now there is no easy way of going from normal mode to insert mode with `gh`. `CMD + D` only needs `i` to change into insert mode.

[2018-06-18 08:50] eproxus commented on #199
@guillermooo Sounds great. Where do I add that mapping? Can't find anything in the documentation about an RC file...

Actually, what I'm trying to do is to map leader key commands to Sublime commands:

[code]

These seem to work, but it breaks leader key usage in other scenarios (like `f,` for example).

[2018-06-19 14:05] DrBones commented on #203
This, is sadly very true. The blockcursor implementation is more of a hack than a supported Sublime Text feature. Hopefully they implement a proper way to customize is at some point :)!

Until then, there are certain combinations of the `selection` and `line_highlight` alpha values that produce different styles of cursors. @gerardroche had some very insightful things to say over at the Neovintagou

[2018-06-20 21:57] nikitavoloboev commented on #205
Hi @guillermooo. This update actually introduced a really bad change. Now if I am in insert mode editing some text. Then I switch to my browser with cmd + tab and go back. The mode will always be Normal. I want it to remember the mode I left the tab in.

[2018-06-21 04:35] guillermooo commented on #205
Correction: not only insert mode should be preserved in the first case mentioned aboe, but any active mode at that time.

[2018-06-21 04:44] guillermooo commented on #205
@nikitavoloboev Confirmed working as expected on macOS. The active mode is preserved when switching to an external app and back.

If you switch back extremely fast, the mode will be reset, though. This is because Six uses a timer to detect this case. But if you do that, switching to an external app is pointless because you can't see what's in it. Could it be that you are switching bak to Six very

[2018-06-21 05:18] guillermooo commented on #205
@nikitavoloboev

Insert mode is always sticky for me. No matter whether I switch to an external app and back or between ST tabs. Implementation-wise, insert mode is unaffected by the timer. Could you please confirm that insert mode is always sticky for you too?

Visual mode, however, gets reset to normal mode based on the timer. The current timeout is set to 300ms. If've now dialled it down to 85m

[2018-06-21 05:32] guillermooo commented on #206
In the latest dev build, you can press `i` to switch to insert mode from any multiple selection mode.

[2018-06-21 05:32] #206 closed

[2018-06-21 05:35] slice opened #207 "Window focus change reverts to normal mode"
When changing the focus of the Sublime Text (switching to another space, opening a window, etc.) while in insert mode, Six reverts to normal mode when switching back to Sublime.

I like to switch between windows frequently while programming, especially if I am looking at code or documentation to reference, so it would be nice if the current input mode could be retained between focus changes.

[2018-06-21 07:00] guillermooo commented on #207
#205

[2018-06-21 07:01] guillermooo commented on #207
@slice I do that also often, but I can't repro the bug. Do you know which version of Six you are using? Could you provide specific repro steps?

[2018-06-21 07:06] guillermooo commented on #207
Nevermind, I can see it now.

[2018-06-21 07:20] guillermooo commented on #205
I've found the issue. The reported problem should only happen when there's a single view open. The bug was introduced with the fix for macOS not switching to normal mode when ST comes back from the macOS app suspended state.

[2018-06-21 07:21] guillermooo commented on #207
I'll close this one in favor of #205, since that one was reported first.

[2018-06-21 07:21] #207 closed

[2018-06-21 13:13] nikitavoloboev commented on #205
Also @guillermooo, is it possible to please speed up how fast Six enters into normal mode on opening files. Ideally I want it to be instant (same as Vim). Right now, I open a new file in Sublime and I have to wait ~ 4 seconds for it to go into normal mode. I think before it was much faster.

[2018-06-21 16:13] guillermooo commented on #205
The activation issue should be solved in the latest dev build.

About slow start, my experience is quite the opposite---start time has been reduced lately. I'll profile and see what can be done. Sublime Text loads packages in alphabetical order, so Six gets a rather low precedence. I'm not sure that can be changed, but I'll take a look. In fact, Six should load first, as it takes over user keyboar

[2018-06-21 18:32] guillermooo commented on #177
@Mattiaslndstrm It's a bit rough around the edges, but if you want to persist macros today, you can put the following in your `User/sixrc.py` file.

Reference: https://github.com/SublimeSix/sample-sixrc

[code]

[2018-06-21 18:36] guillermooo commented on #177
@Mattiaslndstrm Well, the above won't really work until I release the current dev build! 😉

[2018-06-21 20:45] nikitavoloboev commented on #205
I can confirm that new update now correctly saves the state of the mode so switching to a window will not always reset to normal mode.

The slowing down of how long it takes to go to normal mode in opening files is still a huge issue for me though. It literally takes ~ 4/5 seconds to go to normal mode. 😞

[2018-06-21 21:07] guillermooo commented on #205
I see start-up times of about 2.5s. It isn't great, but bearable. 4/5s sounds like too long. Have you got any other packages installed? Are you doing a cold start every time? (Full loading of packages.) Do you open files from the command line, Finder...? Are you using a project or opening files here and there?

[2018-06-21 21:33] nikitavoloboev commented on #205
[Here](https://github.com/nikitavoloboev/dotfiles/blob/master/sublime/Package%20Control.sublime-settings) are all the packages I have installed.

I am not doing a cold restart every time. I have Sublime Text always opened but usually with no active window. I then open the file I need with [Alfred](https://www.alfredapp.com) which is essentially like opening a file from Finder in Sublime Text.

It'

[2018-06-21 21:51] nikitavoloboev commented on #205
I also want to note that sometimes Six breaks for me fully and will never go into normal mode. I am forced to quit and start Sublime Text to get it working.

I am happy to send any logs I can to help solve this issue.

[2018-06-21 22:45] guillermooo commented on #205
Thank you for the additional info.

Is this also a recent issue or something you've experienced now and then all along?

(I am going to try and fix a pending issue with repeating after a macro and then I'll start using macOS for a while to see if I can repro your issues.)

[2018-06-21 22:49] nikitavoloboev commented on #205
It started happening very often now, I don't think this happened before to me and I use Sublime Text a lot.

Also besides the normal mode issue where it takes ~ 4 to go into it. I started getting weird delays in rendering a file sometimes where it takes a bit to render a file where as before I didn't have this issue. I haven't downloaded any plugins for quite some time now and it all started happe

[2018-06-22 06:14] guillermooo commented on #177
@Mattiaslndstrm This should be working in the latest dev build.

[2018-06-22 07:56] guillermooo opened #208 "Start-up sequence is too slow"
#205

[2018-06-22 07:57] guillermooo commented on #205
Closing in favor of #208 for clarity.

[2018-06-22 07:58] #205 closed

[2018-06-22 22:37] Mattiaslndstrm commented on #177
Thank you @guillermooo! It looks easy enough. I will try this during the weekend!

[2018-06-22 22:39] Mattiaslndstrm opened #209 "ciw is not working if there is no newline present"
ciw is not working on the last line of the file. It only ends up deleting the characters between the cursor and the end of the file:

`word` + `ciw` = `wor`if the cursor is positioned at the `d`

[2018-06-22 22:45] Mattiaslndstrm opened #210 "Documentation"
I see that you have an item on your todo-list that says documentation. I just wanted to add that it would be great with an exhaustive list of every command that Six can do. It would also be great if it was updated regularly and all new features to be marked as new. The reason I would like this is that I'm mostly memorizing the commands that's are available in Six and I have quite a backlog due to

[2018-06-23 15:41] guillermooo commented on #208
@nikitavolovoeb Actual start-up time for Six is ~0.25s for me most of the time. Total start-up time (from starting ST to being able to type in normal mode) is in the 2-3s range. There's a massive difference for me between using a couple of additional packages or none except Six.  In the second case, total start-up time goes down to ~1s.

I'm seeing slowdowns in macOS at start-up when opening Markd

[2018-06-24 20:41] guillermooo commented on #208
@nikitavoloboev In the latest dev build, you should see something like the following in your ST console:

![image](https://user-images.githubusercontent.com/684948/41823385-601ba9a6-77ff-11e8-8831-58de719b45ee.png)

That will tell you how long it took Six to fully load. As I mentioned before, that doesn't include the total ST start-up time. If you see an abnormally large number there, maybe Six is

[2018-06-24 21:35] guillermooo commented on #210
I am working on a script that will collect all the registered Six commands and output them in a suitable format for documenting. Keeping the previous version around (or all versions) will give a history of commands by Six version and a diff between two given versions.

[2018-06-25 14:51] craig-cogdill opened #211 "Forcing case insensitive search no longer working"
I have been using the following in the Six.sublime-settings file for a few months without issue:
[code]
A recent update sometime either early last week or late the week before seems to have broken this functionality, as all my searching is case sensitive now.

For reference, I also have `"enable_smart_case": false`

[2018-06-25 15:25] guillermooo commented on #211
@craig-cogdill Odd. I've just run a quick test and it seems to work for me:

![image](https://user-images.githubusercontent.com/684948/41859534-a8c340ae-789c-11e8-96d1-0a411f1090cb.png)

I will check on more platforms and add a test case to see if there's something wrong.

[2018-06-25 15:51] craig-cogdill commented on #211
@guillermooo That is odd. Am I editing the right file? The full path to that settings file is `~/Library/Application Support/Sublime Text 3/Packages/Six/Six.sublime-settings`

[2018-06-25 16:28] guillermooo commented on #211
@craig-cogdill That file will be overwritten with every update to Six. Use the command palette (Ctrl+Shift+P on Windows, Cmd+Shift+P on macOS) and select "Preferences: Six Settings". That command should open the package and the user settings file side by side. You have to edit the user file for the changes to be persisted between Six updates.

[2018-06-25 16:28] #211 closed

[2018-06-25 16:32] craig-cogdill commented on #211
That corrected the issue. Thanks!

[2018-06-26 17:59] guillermooo commented on #210
@Mattiaslndstrm Unpublished yet, but it's being written here: https://github.com/SublimeSix/documentation

To see it now:

0. Check out repository and submodules
1. Install hugo
2. cd path/to/documentation
3. hugo serve -D
4. Go to URL printed by hugo

[2018-06-27 05:50] #167 closed

[2018-06-27 05:52] #177 closed

[2018-06-27 05:53] #111 closed

[2018-06-27 05:53] #136 closed

[2018-06-30 22:58] nikitavoloboev commented on #208
Hi @guillermooo, I think I realized now why the startup time was at times super long for me.

You have changed something and now on macOS, the cmd + shift + w hotkey that should **close the window**. Occasionally quits the entire app.

Can you please take a look at this and hopefully replicate/fix this issue. Thank you very much.

[2018-06-30 23:19] nikitavoloboev commented on #208
For example this binding:

[code]

Works perfectly well for me. It closes the window if I run space + q on last file in window. I want `:wq` do the same, not sure why it doesn't.

[2018-07-01 07:34] guillermooo commented on #208
@nikitavoloboev Got it. It's this macOS-only thing with windowless apps. I think `:wq` calls `hot_exit`, which probably fully terminates the app on all OSes. That also explains why you thought the change is recent; it's actually the case (before it used to be `close` or `exit`; I need to check which one is the actual good one).

[2018-07-07 03:45] guillermooo commented on #208
This issue should be fixed in the latest dev versions.

[2018-07-07 03:45] #208 closed

[2018-07-07 04:40] cornhundred opened #212 ""/" does not highlight well"
I would like to raise the same issue found in Vintageous https://github.com/guillermooo/Vintageous/issues/673

[2018-07-07 17:37] guillermooo commented on #210
Docs are now available at http://docs.sublimesix.com.

[2018-07-07 17:37] #210 closed

[2018-07-09 05:51] guillermooo commented on #212
FAIK, the "current hit" selection color is private to Sublime Text and plugins can't access it. I am also not happy with the low visibility of the current search hit, however. I'll see if it can be improved.

[2018-07-24 20:20] slice opened #213 "random IndexErrors while editing text"
I've triggered this bug multiple times (I'd say over 10 times) over multiple days. I don't know how to trigger it, as it happens randomly while I'm editing text. It puts Six into an unstable state that can only be restored after a full restart.

[code]
[code]

[2018-07-25 05:15] guillermooo commented on #213
I've seen these errors too recently, but I can't pinpoint what triggers them. I will catch the errors and reinit Six for now.

[2018-07-25 06:13] guillermooo commented on #213
Should be fixed in the latest dev build.

[2018-07-28 11:17] andreml8 opened #214 "Implement gn and gN"
just like `n` but would also go into visual mode and select the matched pattern. Can also be combined with command like `c` or `d`, for example `cgn` would forward search last used search pattern, remove the matched string, and go into edit mode.
`gN` also does the same thing only perform backward search instead.

[2018-07-30 00:34] alecthomas opened #215 "Implement Ctrl+E and Ctrl+Y"
And all the [other scroll bindings](http://vimdoc.sourceforge.net/htmldoc/scroll.html).

[2018-07-30 08:48] vaff opened #216 "delete with mouse selection"
The reason I love something like Vintagous and Six (I used Vintagous up until 30th of July, but it's been discontinued) together with Sublime is because mix using keyboard navigation and mouse navigation. So I pick what ever i find best.

With Vintagous I could do a selection with mouse and press 'd' to delete. In Six that's not possible. Is that considered a bug or ?

[2018-07-30 14:21] guillermooo commented on #216
@vaff You should be able to double-click on text to get a visual selection. After that, you can extend the selection with shift+click. Creating a visual selection by dragging the mouse will be supported in Six, but it isn't at the moment.

[2018-07-30 15:01] vaff commented on #216
Good to know. It's actually a thing I use all the time. Just because d is easier when your hand is already on home row

[2018-08-02 03:55] guillermooo commented on #214
Implemented in latest dev build.

[2018-08-02 03:55] #214 closed

[2018-08-04 14:16] burgreen commented on #173
This is a pretty basic and commonly used vi command. Any progress on this?

[2018-08-04 14:40] burgreen opened #217 "Missing post repeat cursor behavior"
Vintageous had a really nice behavior that I am seeking to enable.

After repeating the last command using ".", the cursor would stay in the starting column where the "." was initiated. This behavior allowed for some really quick and easy mods.

Can I enable Six to do this? If not, I would like to make a feature request.

[2018-08-04 19:00] burgreen commented on #217
Eh, this does exactly what I want.
https://stackoverflow.com/questions/14567868/how-to-return-the-cursor-to-its-previous-position-after-the-dot-command/14568298

[2018-08-06 06:01] guillermooo opened #218 "fix y"
Improve caret end position after `y`.

[2018-08-09 05:16] guillermooo commented on #218
Fixed in latest dev build.

[2018-08-09 05:16] #218 closed

[2018-08-09 05:28] guillermooo commented on #217
The backtick issue should be fixed in the next dev build.

[2018-08-09 05:28] #217 closed

[2018-08-10 11:17] rozling opened #219 "Functionality similar to set scrolloff=999"
Thanks for this plugin!

I'm wondering if it's possible to achieve centred scrolling with six?

It's possible to get halfway there with the [Typewriter](https://github.com/alehandrof/Typewriter) plugin's typewriter scrolling mode, however once you enter normal mode with Six the cursor no longer stays in the centre of the screen.

I realise that `set` commands are not implemented at the moment, but

[2018-08-10 17:59] guillermooo commented on #219
The closest and simplest thing possible now that comes to mind is to remap some commands such as:

[code]

You can persist such mappings using a sixrc.py file as described in the documentation.

I hope in the future more advanced things are possible (maybe they already are by applying a bit of ingenuity), but it will be some time before I focus on settings such as `scrolloff`.

[2018-08-10 19:08] rozling commented on #219
That works great, thanks!!

[2018-08-12 00:07] artzte opened #220 "Six upgrade error - on Ubuntu 16.04.4 LTS"
Any idea how to get past this? Rebooting does not help.

[code]

[2018-08-13 05:55] guillermooo commented on #220
@artzte Could you please describe how you are updating Six and where do you see that message?

[2018-08-14 17:49] artzte commented on #220
I just start Sublime. Usually the updates install automatically.

[2018-08-15 07:57] guillermooo commented on #220
I suppose you see that message in the ST console? It looks like an issue with Package Control. Maybe reinstalling Six from scratch will help. Or resetting the ST Data directory.

https://www.sublimetext.com/docs/3/revert.html

Six does not have anything to do with any upgrade process, so I don't think it can fix this issue.

[2018-08-17 14:54] doei opened #221 "Implement H, L and M"
Just switched from Vintageous, but I'm missing those three quite a bit...

Thanks for considering :)

[2018-08-18 12:49] nikitavoloboev opened #222 "Add 'di<char>' mappings"
I wanted to delete inside `[]` in my code so I ran `di[` but that did nothing.

Can you please add that action to Six?

Amongst other objects like `di{`, `di'`, 'di"' and perhaps more. Those are my most used ones though.

[2018-08-21 12:15] selectport opened #223 "Implement line ranges for normal mode commands"
Please add the line range option (like was in Vintageous) for commands :

eg.  :1,10d   :1,10x  :1,10y

[2018-08-22 07:48] thibaut-poullain opened #224 "Holding 'h', 'j', 'k', 'l' key does'nt move the cursor"
Hi,

I used Six before and that's a new behavior on a new mac setup.
The cursor move once and stay in place.
The arrow keys works fine.

That's realy anoying :P

Thx for your help ! :)

The package in installed :

- A file icon
- Advanced new file
- AlignTab
- AllAutocomplete
- Autosave
- Clipboard manager
- Dashdoc
- GitGutter
- Material theme
- Pretty JSON
- SidebarEnhancements
- Six (of course

[2018-08-24 11:23] nikitavoloboev opened #225 "Lose focus on Sublime Text to previous app used when closing last tab of active window"
I have these two bindings set up for Six:

[code]

One issue I found with them is that often when I close the only tab in a window, it closes the window but also has focus still on Sublime Text. I very often search a file to edit with Alfred, edit the file and close it and want to instantly continue using the app I was using before then (my browser usually).

Is it possible to make Six lose focus

[2018-08-25 09:04] guillermooo commented on #224
From the official Sublime Text docs:

Let me know if that helps.

[2018-08-25 09:06] guillermooo commented on #222
@nikitavoloboev I use those motions pretty often, and they all work in Six now. I don't have a mac handy at the moment, but I'll check as soon as I am back home in a few days.

[2018-08-25 09:07] guillermooo commented on #225
I'll check this as soon as I have a mac handy again.

[2018-08-25 09:10] guillermooo commented on #223
@selectport Extensive command-line support is not planned for the near future. Line ranges is at the moment a sort of large feature to implement in Six. It will eventually be added, but I don't have a timeline for it yet. I will focus on sorting out a few things in other modes and improving existing command-line commands. If adding line ranges turns out to be easier than expected, they may be intr

[2018-08-25 12:55] selectport commented on #223
Ok, thanks for responding ... i'll keep an eye out for line ranges ...

[2018-08-25 16:54] nikitavoloboev commented on #222
It was a mistake on my side. The bindings work well on macOS too.

[2018-08-25 16:54] #222 closed

[2018-09-03 23:44] #220 closed

[2018-09-08 04:58] slice opened #226 "Implement {Visual}u/{Visual}U/gU/gu"
* `U`: Uppercase the visually selected text.
* `u`: Lowercase the visually selected text.

We already have `~`, so why not these?

[code]

I use this quite often when dealing with case-(in)sensitive stuff.

[2018-09-10 17:57] guillermooo opened #227 "sometimes gets stuck in insert mode"
I can't isolate de exact conditions, but it seems to be related to expanding a completion/snippet in insert mode (native ST completion/snippet).

I suspect the problem is that the mode reported by Six in this state is NORMAL, while it should be INSERT.

The only workaround is to restart ST.

[2018-09-11 18:31] guillermooo commented on #226
Implemented in latest dev build.

[2018-09-11 18:31] #226 closed

[2018-09-11 22:26] slice opened #228 "{Visual}{u,U} applies to entire line in visual mode"
[code]

with the cursor inside of `'hello!'`, running `vi'u` (which should only lowercase the contents of the string) lowercases the entire line and moves the cursor to the beginning of the line.

When running in vim, the cursor moves to the `h` after lowercasing.

`U` behaves similarly.

When using the motion instead of visual (`gui'` and `gUi'`), it works properly.

[2018-09-12 05:10] guillermooo commented on #228
The commands regressed after implementing `gUU` and `guu`. Will be fixed by the next dev version.

[2018-09-12 05:10] #228 closed

[2018-09-12 05:38] guillermooo commented on #227
`cc` seems to be the operator causing the issue.

[2018-09-12 05:51] guillermooo commented on #227
`cc` executes as 'operator pending' mode, while it should do so in 'normal' mode.

[2018-09-12 05:58] guillermooo commented on #227
Will be fixed in the next dev version.

[2018-09-12 05:58] #227 closed

[2018-09-17 03:33] guillermooo commented on #174
Implemented.

[2018-09-17 03:33] #174 closed

[2018-09-17 03:47] guillermooo commented on #192
Will be implemented in the next dev build.

[2018-09-17 03:47] #192 closed

[2018-09-22 04:29] guillermooo commented on #173
Implemented in the latest dev build.

[2018-09-22 04:29] #173 closed

[2018-09-22 11:01] burgreen commented on #173
Thanks!!

[2018-09-22 12:41] burgreen opened #229 "R changes not repeatable"
The . command repeats the last edit operation. But the R operation is not being recorded, and this repeatable with the . command.

For example, make some change, and then . and you will see the command repeated.

Do a R command, then . and you will see, not the R change, but the change you did above.

[2018-09-23 07:43] #224 closed

[2018-09-24 18:19] davea1 opened #230 "esc directly after O or o does not remove whitespace from autoindent"
Using `O` or `o` followed immediately by `esc` will leave behind whitespace in cases where an autoindent has occurred.

With Vim, all such whitespace is removed as soon as `esc` is hit, leaving only a blank line.

[2018-09-27 19:02] guillermooo commented on #230
This seems to depend on the `autoindent` option. Vim options will be available in the future, but I have no immediate plans for them.

[2018-09-28 19:57] davea1 commented on #230
I think there is some confusion here. A new Vim option is not needed. This is how Sublime Six should behave currently with the default Sublime Text and Sublime Six options therefore this is a Vim compatibility issue and not an options issue.

By default Sublime Text has `auto_indent` and `smart_indent` enabled. Having them enabled is somewhat analogous to having the `autoindent` option enabled in

[2018-09-29 05:57] guillermooo commented on #229
Should be fixed by the next dev version.

[2018-09-29 05:57] #229 closed

[2018-09-29 05:59] guillermooo commented on #230
@davea1 Thanks for the clarification! I will look into this again.

[2018-09-29 06:00] guillermooo commented on #230
OK, I see what you mean now. I'll try to fix this.

[2018-09-29 06:51] guillermooo commented on #230
Should be partially fixed in the next dev build; there's a bug where undoing requires two steps.

[2018-09-29 06:51] #230 closed

[2018-09-29 10:56] burgreen opened #231 "dd not repeatable."
Similar to #229, the `dd` command is not repeatable either.

[2018-09-29 13:43] guillermooo commented on #231
`dd` seems to be repeatable for me.

After running the command, you should get this in the console:

[code]

[2018-09-29 14:07] burgreen commented on #231
I appreciate your responsiveness.

Just to clarify: if you type `dd` (which deletes the current line), and then type `.`, it deletes the next current, etc, deleting a line with each `.` typed?

[2018-09-30 06:44] guillermooo commented on #231
Yes. The snippet shown above retrieves the command that the dot operator will repeat.

[2018-10-01 11:47] elpres opened #232 ""vat" doesn't properly find the closing tag"
With this bit of HTML:

[code]

if you go to the first line and type `vat`, only the first two lines get selected. The problem seems to only occur though when there are attributes in the tag. Without the `class` attributes `vat` correctly selects all three lines.

[2018-10-03 09:52] guillermooo commented on #232
Thanks for the report.

The implementation of `it`/`at` will be revised to be as close to Vim's as possible. At the moment it isn't a direct port of the C code.

[2018-10-14 18:58] guillermooo commented on #231
Closing this as it doesn't seem to be a general issue. Please reopen if you continue having trouble making this work.

[2018-10-14 18:58] #231 closed

[2018-10-15 04:59] guillermooo commented on #204
@Mattiaslndstrm Six now removes automatic indentation after `o<Esc>`. I'll close this issue. Let me know if that isn't what you meant.

[2018-10-15 04:59] #204 closed

[2018-10-23 16:24] guillermooo commented on #225
@nikitavoloboev Do you know of any way of using plain ST without Six where you get the desired behavior?

[2018-10-26 00:36] miquella commented on #216
Heh… sometimes. It had been working consistently for me until I posted that, now I'm noticing that it only sometimes works.

[2018-10-26 07:04] guillermooo commented on #216
@miquella I can't figure out a way of detecting the end of a mouse drag. That's why Six doesn't support dragging the mouse at the moment. The available events don't seem to provide start-end events for a mouse drag.

[2018-10-29 21:20] nikitavoloboev commented on #225
@guillermooo I am not sure if one can do it with plain ST as I am not too familiar with what it can do.

But on macOS, once you close the last tab in an open window. The window gets closed and Sublime Text will still be active (that is expected behavior).

What I wish though, if I close the last tab in the open window it would both close the tab and switch to 'last application' that was active. I

[2018-10-30 20:40] guillermooo commented on #225
Yeah, I don't think Six can do that. I'll close the issue.

On Windows, you can keep pressing Alt+Esc to iterate through the previously active apps. I'm not sure whether a shortcut like that exists in macOS.

[2018-10-30 20:40] #225 closed

[2018-11-01 07:37] guillermooo commented on #232
Will be fixed in the next dev build.

[2018-11-01 07:37] #232 closed

[2018-11-01 07:56] guillermooo commented on #209
@Mattiaslndstrm Can't reproduce this one. Maybe it's been fixed in the meantime? Closing. Please reopen if you are still having the same issue.

[2018-11-12 19:14] Mattiaslndstrm opened #233 "Esc + a + Tab crashes Sublime"
I can't seem to recreate this with a smaller amount of code, but the applying the following command on the following code reliably crashes Sublime for me:

Cursor at column 1 at line 3: `ci{` `esc` `a` `tab`
[code]

There is also some general problems with tab where the cursor is jumping to a whole new place in the code instead of making a tab. This might very well be the cause of a different plug

[2018-11-12 19:17] Mattiaslndstrm commented on #209
I can't reopen, but the issue is still present. If you place the cursor on the last word of the last line it still just deletes the final character.

[2018-11-13 05:11] guillermooo commented on #233
@Mattiaslndstrm I can't repro this bug following your instructions. It may be worth disabling all other packages to see if ther may be a bad interaction with one of them.

[2018-11-14 05:34] guillermooo commented on #209
Found it. Thanks for the report. Will be fixed in the next dev version.

[2018-11-14 05:50] #209 closed

[2018-11-15 19:34] trentjones21 opened #234 "Uppercase marks don't allow you to switch between files"
Using marks to jump between files (mA and 'A) doesn't work

[2018-11-23 12:09] shiasyn opened #235 "<C-r> issue"
Hello!
First of all - thank you for your tremendous work!

For now the `<C-r>` is not working for me, 'u' working just fine for undo, but `<C-r>` not redoing things, i've seen that it was implemented in changelogs, so can you, please give some suggestions how to troubleshoot that. Thanks

[2018-11-28 10:32] shiasyn commented on #235
Oh, that fixed it!
Thanks! :)

[2018-11-28 10:32] #235 closed

[2018-11-29 21:41] Mattiaslndstrm commented on #221
I'm very interested in these too!

[2018-12-01 10:17] guillermooo commented on #221
Coming soon!

[2018-12-04 05:08] guillermooo commented on #221
Implemented in the latest dev build.

[2018-12-04 05:08] #221 closed

[2018-12-05 04:30] guillermooo commented on #181
If you are referring to the [paragraph motion](http://vimdoc.sourceforge.net/htmldoc/motion.html#{), it seems to be working now. Closing this issue based on that.

[2018-12-05 04:30] #181 closed

[2018-12-06 06:05] guillermooo commented on #234
Implemented in the latest dev build.

[2018-12-06 06:05] #234 closed

[2018-12-28 19:47] math2001 opened #236 "Implement :qa"
- [ ] `:qa`: closes every file
- [ ] `:wqa`: writes and closes every file

[2019-01-03 04:35] slice commented on #213
This still appears to be happening for me:

[code]

On the latest dev build. It seems to fix itself (although only sometimes).

[2019-01-03 07:59] guillermooo commented on #236
I am missing these too. I'll try to implement them soon.

[2019-01-14 01:50] slice opened #237 "Shortening large offscreen selections cause weird scrolling"
If you enter visual line mode (`V`) then select a large amount of text (so that the selection cannot fit in the viewport without scrolling), shortening the selection will cause the view to scroll back to beginning to the selection, then back down to the end, repeating.

* `V`
* `}}}}}}}}` (select a large amount of text)
* `{{{{` (go back, will scroll weirdly)

[2019-01-14 11:49] guillermooo commented on #237
Thanks for the report!

[2019-01-15 11:25] elpres opened #238 "f ignores the immediate next character in visual mode"
If you have a string like

[code]
and move the cursor to the “1”, typing “f2” will land you on the first “2”. But if you type “vf2”, you’ll end up on the second “2”.

[2019-01-22 05:34] guillermooo commented on #237
Will be fixed in the next dev build.

[2019-01-22 05:34] #237 closed

[2019-01-22 05:46] guillermooo commented on #238
Will be fixed in the next dev build.

[2019-01-22 05:46] #238 closed

[2019-01-26 01:04] EduardoBautista opened #239 "Add ZZ"
You implemented this before in Vintage:

https://github.com/sublimehq/Vintage/commit/27ed4807f65b5190bccf52b4fd3c75c7ca643646

[2019-02-02 05:14] slice commented on #213
More logs:

[code]

This one happened immediately after starting Sublime Text (from a completely closed state) and trying to use it.

[2019-02-02 05:16] slice commented on #213
And after opening Sublime Text (from a completely closed state) and clicking somewhere in a file, this error happens:

[code]

[2019-02-02 05:17] slice commented on #213
Okay, actually, I think this build is just broken. Nothing seems to be working, getting constant errors in console.

Will open a separate issue.

[2019-02-02 05:18] slice opened #240 "Six (any version) doesn't work on Sublime Text 3189 due to recent ST API changes"
Version: v0.8.106-dev.20190122.1

Simple motions (hjkl) don't work at all. This error is constantly printed in the console when trying to do anything related to Six:

[code]

[2019-02-02 08:06] guillermooo commented on #240
I also get this after updating to the latest version of Sublime Text, but I haven't seen it before.

[2019-02-02 08:38] guillermooo commented on #240
As far as I can tell, the `plugin_loaded()` function that starts Six isn't called from the `.pyc` file, but it works fine from the `.py` file. This seems to be happening in the newest dev build. The release notes state:

1 February 2019
Mini diffs now indicate inserted and deleted lines
Added Goto/Next Modification and Goto/Previous Modification commands
The mini_diff setting can now be set to "au

[2019-02-02 09:05] guillermooo commented on #240
@slice Confirmed Six is working in dev build 3188. So the new API changes in 3189 have broken Six (release/dev builds). Six still works fine locally for me from the .py files (any ST version).

[2019-02-02 09:06] guillermooo commented on #240
If you could confirm also that you are using ST 3189, I will change the issue's title to better reflect the problem.

[2019-02-02 09:39] slice commented on #240
Yep, I am.

[2019-02-02 18:01] guillermooo commented on #240
Reported to Sublime HQ as https://github.com/SublimeTextIssues/Core/issues/2609

[2019-02-02 22:41] guillermooo commented on #240
Should be fixed by build [0.8.106-dev.20190202.1](https://github.com/guillermooo/Six/blob/master/messages/0.8.106-dev.20190202.1.txt).

[2019-02-02 22:41] #240 closed

[2019-02-03 00:16] slice commented on #240
Thanks for the quick fix.

[2019-02-24 22:01] davea1 opened #241 "esc directly after creation of an auto-indented line does not remove whitespace"
While typing text in insert mode with the `auto_indent` setting enabled, `esc` immediately following the creation of a new auto-indented line (via `enter`/`return`) will leave behind whitespace.

With Vim, all such whitespace is removed as  soon as `esc` is hit, leaving only a blank line.

This issue is related to: #230

[2019-03-06 13:01] mlbrausa opened #242 "Command 'yy' highlights line for inordinatly long time"

[2019-03-07 05:15] guillermooo commented on #242
This is not configurable at the moment, but the highlight lasts under a second for me. Do you have any repro steps?

[2019-03-07 17:52] burgreen commented on #242
On win and linux, 'yy' gives a 0.1 sec blink of a empty selection line-only box. That is perfectly fine.

On mac, 'yy' gives a 0.5-0.75 sec filled selection hightlighted rectangle, which I personally find annoying. Then, a fast command like 'yyppppp' colors an entire filled block section (for 0.5-0.75 sec), but that is very distracting and very annoying.

[2019-03-13 10:30] nikitavoloboev opened #243 "With 3.2 update caret in normal mode is no longer visible"
After updating Sublime Text to [3.2 version](https://www.sublimetext.com/blog/articles/sublime-text-3-point-2). My caret in normal mode started to look like this:

![2019-03-13 at 11 29](https://user-images.githubusercontent.com/6391776/54272121-532cfb80-4583-11e9-94f4-f5f32c1db0ae.png)

It is barely seen. In insert mode it is working good:

![2019-03-13 at 11 30](https://user-images.githubusercon

[2019-03-13 10:33] nikitavoloboev commented on #243
Also I am not sure if I had this but I wish I could make the cursor underline when in normal mode like I can in vim with this setting:

`set guicursor=n-v-c:hor20,i-ci:ver20 " Make cursor block in insert mode and underline in normal mode`

![2019-03-13 at 11 32](https://user-images.githubusercontent.com/6391776/54272315-bd45a080-4583-11e9-89a7-4bb0f725f5a8.png)

![2019-03-13 at 11 33](https://user

[2019-03-14 10:48] nikitavoloboev opened #244 "Add space object to use in motions like `t` and `d`"
Currently if I do `dt ` it won't delete from current location to space as vim should do.

Same goes for `df `. Six doesn't recognize space as object it seems.

[2019-03-15 04:53] guillermooo commented on #243
The cursor appearance can only be controlled via ST native settings and themes. Six doesn't really do anything about it... I'll take a look, but I don't think there's much Six can do.

[2019-03-15 04:54] guillermooo commented on #244
Maybe the `<Space>` notation isn't getting decoded. I'll take a look.

[2019-03-15 05:01] guillermooo commented on #244
Hm... It's working for me. Perhaps you have a custom key binding that is clobbering the one in Six that captures input.

Look for something like this in your *User/Default.sublime-settings* and make sure that the bit about `six_is_accepting_input` is in there.

[code]

These days, however, mappings can be better configured using [Six mappings](https://github.com/SublimeSix/sample-sixrc/blob/51bde9

[2019-03-29 21:30] PatTheMav commented on #243
I did some tests with the color schemes available by Sublime Text:

* Monokai - has blinking block cursor (light grey) in normal mode, bar cursor in insert mode, underscore in visual mode
* Breakers - block cursor is invisible in normal mode, bar cursor and underline both visible
* Celeste - blinking block cursor in normal mode, purple bar and underline cursor for insert and visual
* Mariana - blo

[2019-04-06 18:31] guillermooo commented on #243
@PatTheMav Thanks for that! Isn't this something that could be reported to the maintainers of the color schemes? (Even though I seem to remember that the new block caret appearance is controlled via theme settings?)

[2019-04-08 09:19] PatTheMav commented on #243
@guillermooo Yeah it looks like affected themes have their block-caret colour not set, so it falls back to the line-Highlight colour, hence the appearance of invisibility.

It’s weird how this new feature in ST3 doesn’t seem to have been fully tested with all built-in themes, but those are the cards we’ve been dealt.

[2019-04-21 05:32] math2001 opened #245 "bind command mode to sublime command"
It would be nice to be a able to map a command in Six's command mode to a Sublime command

This would solve #236, and also be nice for linters for exampe (so we can "implement" `cn` and `cp`)

[2019-04-22 10:27] guillermooo commented on #245
This is planned, and probably similar to plugins. I don't have a specific timeline for it, but I'm close to wrapping up porting Six.Current code to Six.Next (in fact, mostly just plugins and mappings are missing now). After that's done, I can start looking at this.

[2019-07-04 18:09] simplelife2010 commented on #98
Any reason why this is not high priority? How do you navigate in a large file?

[2019-09-12 09:55] nikivdev opened #246 "Add easymotion bindings"
There is a vim plugin called [easymotion](https://github.com/easymotion/vim-easymotion) that lets you move through code using nice bindings.

I don't use vim but use VSCode with [Vim](https://github.com/VSCodeVim/Vim) and it has an implementation of[easymotion too](https://github.com/VSCodeVim/Vim#vim-easymotion).

What I want is ability to jump up and down a page via markers.

ie I press `J` key

[2019-10-13 16:19] ghost opened #247 "www.sublimesix.com is dead"
"Site not configured".

[2019-10-17 17:01] ghost commented on #247
Does it mean the project is dead?

[2019-12-24 00:29] sinor38058 commented on #247
came here as I was trying to pay for a licence and site doesn't work. @guillermooo any plans bringing it back up?

[2020-04-04 10:43] PatTheMav commented on #247
Oh my.. I don't mind if development takes time and I hope @guillermooo is doing fine, but a little update around here whether or not Six is "dead" (which would be fine, it happens) will be appreciated, especially to the people who paid for it. 😕

[2020-04-06 11:40] elpres opened #248 "Tab in insert mode autocompletes instead of inserting a tab character"
To reproduce, type this:

ab ac<kbd>Enter</kbd>
a<kbd>Tab</kbd>

Instead of inserting a literal tab character, the editor will instead autocomplete the "a", switching between "ab" and "ac" if you keep pressing Tab.

I'm seeing this when the syntax is set to "Plain Text", so hopefully no other plugins are interfering.

[2020-05-29 07:26] dmilith commented on #247
Yea… cause of that I switched back to Neovintageous. Six is better but I don't have time to hack and decompile pyc files of Six… :(

[2020-05-29 14:58] nikivdev opened #249 "Trying to yank entire file text will only yank top line"
To replicate:

1. open any file
2. press cmd+a
3. press y

You should get entire file in clipboard but you only get the top line.

[2020-06-10 05:48] nikivdev commented on #244
This is still an issue for me, do you have a chance to try it on macOS @guillermooo

Would appreciate it a lot.

[2020-06-29 00:15] nikivdev opened #250 "Make it so after jumping to a symbol (@ search), it doesn't highlight entire line"
Currently if you search for a symbol with `@` search like so:

<img width="227" alt="image" src="https://user-images.githubusercontent.com/6391776/85961962-52a1b980-b9ae-11ea-95ab-5068ebed3b34.png">

It will select the entire line like so:

<img width="92" alt="image" src="https://user-images.githubusercontent.com/6391776/85961971-60573f00-b9ae-11ea-85b3-93910542f5d1.png">

This is annoying becaus

[2020-08-17 11:54] nikivdev commented on #247
Very sad about Six development seemingly stopping. @guillermooo do you have a donation page up somewhere? Assuming it's a question of return on time developing.

[2021-12-19 19:51] #95 closed

[2022-07-08 20:48] #239 closed

[2022-07-08 20:48] #155 closed